*{margin: 0;padding: 0;list-style: none;text-decoration: none; border: 0;}
body{
    font-family:"Microsoft YaHei","WenQuanYi Micro Hei","tohoma,sans-serif","宋体";
    font-size: 12px;
    color: #2c2c2c;
    background: #f5f7fa;
}
.b{
    color:#0093D0;
}
.r{
    color: #c10101;
}
.o{
    color: #f60;
}
.green{
    color:#4BBA1E;
}
.total{
    font-size: 14px;
}
.total b{
    color: #c10101;
}
.c9{
    color: #999999;
}
.price.black{
    color: #212121;
}
.bx-controls{
    max-height: 350px;
}
.row{
    overflow: hidden;
    margin-bottom: 10px;
}
a{
    color: #2c2c2c;
    outline: none;
}
a:active{noOutline:expression(this.onFocus=this.blur());}

.w{
    margin: 0 auto;
    overflow: hidden;
    width: 980px;
}
p{
    line-height: 22px;
}
h4{
    color: #666;
    font-weight: normal;
    font-size: 12px;
}
h3{
    font-size: 14px;
}
h3 a{
    font-weight: bold;
}
h5{
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    font-weight: normal;
}
.datetime{
    color:#999999;
}
h2{
    font-size: 18px;
}
h1{
    font-size: 16px;
    font-weight: normal;
}
.total-money{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #D2D2D2;
    border-top: 1px solid #D2D2D2;
    font-size: 14px;
    margin: 20px 0;
 }
.btn-group.soon{
    margin: 28px auto 0;
}
.btn-group.soon .btn{
    width: 200px;
    height: 35px;
    line-height: 35px;
}
.soonState{
    width: 540px;
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #d2d2d2;
    background: #f1f1f1;
}
.btn-group .btn{
    margin: 0 2px;
}
textarea{
    width: 100%;
    overflow:auto;
    resize: none;
    font-size: 14px;
    line-height: 1.428571429;
}
button,input{
    outline: none;
    text-transform: none;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: visible;
}
button{
    cursor:pointer;
}
textarea:focus,input:focus{
    outline: none;
    border: 1px solid #00CCFF;
}
.d-n{
    display: none;
}
.lead{
    font-size: 16px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    width: 100%;
    margin-bottom: 10px;
}
/*内容*/
.bask-wide{
    overflow: hidden;
    float: left;
    width: 73%;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
}
.content{
    overflow: hidden;
    float: left;
    width: 72%;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
}
.content-md{
    line-height: 18px;
    padding: 5px;
    height: 52px;
    text-indent: 2em;
    overflow: hidden;
}
.text-content{
    line-height: 18px;
    text-indent: 2em;
    color: #333;
    text-align: left;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #d2d2d2;
}
.text-title{
    text-align: left;
    max-height: 40px;
    line-height: 20px;
    word-wrap: break-word;
    overflow: hidden;
    width: 420px;
}
.sidebar{
    overflow: hidden;
    width: 230px;
    background: #FFFFFF;
    padding: 0 10px;
}
.price{
    display: block;
    color: #828282;
}
.price b{
    padding: 0px 5px;
    font-weight: normal;
}
.price strong{
    font-size: 14px;
    font-weight: normal;
    color: #1d1d1d;
;
}
.all-price{
    display: block;
    font-size: 14px;
}
.all-price b{
    color: #E4393C;
    padding: 0px 5px;
}
.chance{
    height: 19px;
    line-height: 19px;
    margin-left: 5px;
    color: #0093D0;
}
.username{
     display: inline-block;
     max-width: 150px;
     color:#333;
     line-height: 18px;
     text-align: left;
     overflow: hidden;
     vertical-align: middle;
     white-space: nowrap;
     text-overflow: ellipsis;
 }
.username b{
    font-weight: normal;
}
.username a{
     color: #2af;
}
.name{
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
}
.number,.ip,.price,.datetime,.remain{
    line-height:18px;
    text-align: left;
}
.number b,.remain b{
    color: #af2812;
    font-weight: normal;
}
.datetime b{
    font-weight: normal;
}
/*按钮*/
.btn-comment{
    background: #ffffff;
    border: 1px solid #d2d2d2;
}
.btn-menu {
    overflow: hidden;
    margin: 0 10px 10px;
}
.btn-menu span.left{
    display: block;
    float: left;
    height: 19px;
    line-height: 19px;
    margin-right: 5px;
}
.btn-menu span.right{
    display: block;
    float: left;
    height: 19px;
    line-height: 19px;
    margin-left: 5px;
}
.btn-menu .add{
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    width: 26px;
    text-align: center;
    background: #e5e5e5;
}
.btn-menu input{
    width:82px;
    border: 1px solid #d2d2d2;
    height: 18px;
    display: block;
    float: left;
    margin:0 -4px;
    padding: 0;
    text-align: center;
}
.btn-menu button{
    width: 22px;
    border: 1px solid #d2d2d2;
    height: 24px;
    display: inline-block;
    cursor: pointer;
    background: #dbdbdb;
}
.inner-b-m{
    margin: 0;
}
.inner-b-m span{
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

.btn-group{
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.btn{
    display: inline-block;
    padding: 0px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 3px;
    text-emphasis:none;
    position: relative;
    overflow: visible;
    zoom: 1;
    *display: inline;
}
.btn-md{
    width:100px;
    height: 33px;
    line-height: 33px;
}
.btn-link{
    border: none;
    background:none;
    cursor: pointer;
    display: inline-block;
    padding: 4px 6px;
}
.btn-hot{
    width: 130px;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
}
.btn-gr{
    background: #d2d2d2;
    color:#B92C00 ;
}
.btn-gy{
    background: #f1f1f1;
    font-size: 12px;
}
.btn-rg{
    width: 140px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    border-radius: 3px;
}
.btn-invite{
    padding: 13px 25px;
    font-size: 16px;
    box-shadow: 0px 3px 1px 1px #852608;
}
.btn-modal{
    width: 100px;
    height: 33px;
    line-height: 33px;
}
.btn-atc{
    width: 120px;
    height: 33px;
    line-height: 33px;
}
.btn-red{
    background: #B92C00;
    color: #ffffff;
}
.btn-red:hover{
    background: #CF3404;
}
.btn-y{
    color: #bb4c30;
    background: #ffd79c;
}
.btn-y:hover{
    background: #eed9ab;
}
.btn-sx{
    height: 30px;
    line-height: 30px;
    padding:0px 20px;
}
.btn-sm{
    height: 16px;
    padding:3px 9px;
    font-size: 12px;
}
.btn-state{
    background: #DDDDDD;
    border: 1px solid #D2D2D2;
    border-radius: 3px;
}
.btn-lg{
    width: 135px;
    height: 33px;
    line-height: 33px;
}
.btn-w{
    width: 115px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
}
.btn-code{
    width: 120px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border: 1px solid #D2D2D2;
    background: #DDDDDD;
}
.btn-topUp {
    width: 90px;
    height: 26px;
    line-height: 26px;
    left: 23px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.btn-cancel{
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0px 20px;
    border: 1px solid #d2d2d2;
    margin-left: 20px;
    background: #e3e3e3;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.btn-address{
    width: 68px;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
}
.btn-comment{
    padding: 6px 15px;
}
.btn-details{
    overflow: hidden;
    margin-top: 20px;
}
.signin{
    font-weight: bold;
    color: #34a1ff;
}
.underway{
    border-radius: 3px;
    color: #FFFFFF;
    width: 120px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #AF2812;
    display: block;
}
 .sns-bar{
     overflow: hidden;
     margin: 5px 0;
 }
.sns-bar .sns-love{
    display: inline-block;
    text-indent: 12px;
    padding: 4px 6px;
    background: url("../images/icon-02.png") no-repeat -0px -175px;
}
.sns-bar .sns-comment{
    display: inline-block;
    text-indent: 12px;
    padding: 4px 6px;
    background: url("../images/icon-02.png") no-repeat -90px -174px;
}
.tl{
    text-align:left ;
}
.tr{
    text-align:right ;
}
.tc{
    text-align:center ;
}
table{
    border: 1px solid #d2d2d2;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table thead tr th{
    border: 1px solid #d2d2d2;
    text-align: center;
    background: #f1f1f1;
    padding: 8px;
    line-height: 1.38462;
}
table tbody tr td{
    border: 1px solid #d2d2d2;
    text-align: center;
    padding: 8px;
    line-height: 1.38462;
}
table tbody tr td .username{
    width: 100%;
    display: block;
}
table td p.tl{
    width: 600px;
}
.inner-title{
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*图标*/
.icon{
    text-align: center;
    display: inline-block;
    z-index: 888;
    background:url("../images/icon.png") no-repeat;
}
.icon-shut{
    width: 22px;
    height: 22px;
    cursor:pointer;
    vertical-align: middle;
    background-position: -139px -114px;
}
.icon-car{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background-position: -134px -11px;
}
.icon-search{
    width: 25px;
    height: 25px;
    margin:0;
    background:url("../images/icon.png") no-repeat -22px -5px;
}
.icon-search:hover{
    width: 26px;
    height: 26px;
    margin:0;
    background:#a40000 url("../images/icon.png") no-repeat 0px -5px;
}
.icon-clock{
    width: 18px;
    height: 18px;
    margin-right: 8px;
    background-position: -50px -9px;
}
.icon-horn{
    width: 25px;
    height: 19px;
    vertical-align: middle;
    background-position: -47px -42px;
}
.icon-phone{
     width: 22px;
     height: 22px;
     vertical-align: middle;
     background-position:0px -41px;
 }
.icon-like{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background-position:0 -135px;
}
.icon-comment{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background-position:0 -164px;
}
.icon-online{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-right: 5px;
    background-position:-88px -7px;
}
.icon-love{
    width: 18px;
    height: 18px;
    height: 18px;
    vertical-align: middle;
    background-position:0 -196px;
}
.icon-expression{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background-position:0 -226px;
}
.icon-prompt{
    width: 60px;
    height: 60px;
    vertical-align: middle;
    background-position:0 -226px;
}
.icon-warm{
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    background: url("../images/icon-02.png") 0 0;
}
.icon-user,.icon-password{
    width: 18px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    background: url("../images/icon-02.png") no-repeat -0px -213px;
}
.icon-password{
    background-position: -0px -264px;
}
.icon-01{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 10px;
    right: 40px;
    background: url("../images/bg.png") no-repeat -3px -260px;
}
.icon-02{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 105px;
    right: 40px;
    background: url("../images/bg.png") no-repeat -99px -260px;
}
.icon-new{
    width: 54px;
    height: 55px;
    position: absolute;
    top: -8px;
    left: 0;
    z-index: 999;
    display: inline-block;
    background: url("../images/bg.png") no-repeat -9px -457px;
}
.icon-succeed{
   width:65px;
   height: 50px;
   vertical-align: middle;
   background-position: 0 -224px;
}
.icon-arrow{
    width: 24px;
    height: 16px;
    background: url("../images/icon-02.png") no-repeat 0 -297px;
    position: absolute;
    top:-10px;
    right: 10%;
}
/*图片*/
.img-box{
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}
.img-lg{
    margin: 10px;
    width: 210px;
    height: 210px;
    z-index: 100;
}
.img-md{
    width: 120px;
    height: 120px;
    line-height: 120px;
    overflow: hidden;
}
.img-sm{
    width: 70px;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
}
.img-sm img{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
.img-box img{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
.head-img{
    text-align: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 10px
}
.head-sm{
    width: 22px;
    height: 22px;
    overflow: hidden;
    border-radius: 3px;
}
.head-img img,.head-sm img{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
.info-side{
    width: 65%;
    overflow: hidden;
}
.info-side span{
    display: block;
}
.info{
    width: 60%;
}
.info span{
    display: block;
}
.text-md{
    width: 220px;
    overflow: hidden;
    white-space: nowrap;
}
/*标题*/
.title{
    padding: 9px;
    overflow: hidden;
}
.title small{
    font-weight: normal;
    font-size: 14px;
}
.title h3{
    float: left;
    font-size: 16px;
}
.title-lg{
    width: 300px;
    line-height: 22px;
    overflow: hidden;
    height: 22px;
    white-space: nowrap;
    font-size: 14px;
    text-overflow: ellipsis;
}
.title-sm{
    width: 180px;
    line-height: 22px;
    font-size: 12px;
    overflow: hidden;
    height: 22px;
    white-space: nowrap;
    font-weight: bold;
    text-overflow: ellipsis;
}
.title-mx{
    width: 120px;
    line-height: 22px;
    font-weight: bold;
    height: 22px;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
}
.title-02{
    width: 120px;
    line-height: 22px;
    font-weight: bold;
    font-size: 12px;
}
.title-md{
    width: 210px;
    line-height: 22px;
    font-size: 14px;
    height: 22px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
.caption{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.title-red{
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}
.title-red h3{
    text-align: center;
    padding: 5px 15px;
    float: left;
    width: 120px;
    background: #AF2812;
    color: #FFFFFF;
}
.title-md h4{
    color: #FFFFFF;
}
.title-chg{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight:400;
}
.title-chg b{
    margin: 0 5px;
    color: #AF2812;
}
.title-box{
    min-height: 40px;
    background: #eeeeee;
    padding:5px 10px;
}
.title-box h3{
    font-weight: normal;
}
.title-box h3 a{
    font-weight: normal;
}
.title-br{
    height: 40px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
    word-wrap:break-word ;
    word-break: break-all;
    font-weight: normal;
}
.more{
    display: block;
    float: right;
    color: #0093D0;
    font-size: 14px;
}
.fl{
    float: left;
    display: block;
}
.fr{
    float: right;
    display: block;
}

/*进度条*/
.progress-side{
    overflow: hidden;
    padding: 0 12px;
}
.progress-side dd{
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}
.progress-side li{
    width: 100%;
    overflow: hidden;
    margin-bottom: 8px;
}
.progress-side li span{
    line-height: 18px;
}
.progress-side dd span{
    line-height: 18px;
}
.progress{
    width: 97%;
    height: 7px;
    margin: 0 3px;
    background: #e6e6e6;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}
.progress .progress-bar{
    width: 0%;
    height: 100%;
    line-height: 10px;
    background: #ad3824;
    border-radius:3px;
}
.toggles{
    overflow: hidden;
    margin-bottom:20px;
    white-space: nowrap;
    vertical-align: middle;
}
.toggles a{
    display:block;
    float: left;
    background: #E74C3C;
    padding:5px 10px;
    color: #ffffff;
}
.toggles a.first-child{
    border-radius: 5px 0 0 6px;
}
.toggles a.last-child{
    border-radius: 0 5px 5px 0;
}
.toggles a.active{
    background:#c83f31;
}
.toggles a:hover{
    background:#fc5240;
}
/*分页*/
.pagination{
    overflow: hidden;
    clear: both;
}
.pagination span{
    float: left;
    margin-right: 10px;
    display: block;
    border: 1px #d2d2d2 solid;
    text-align: center;
    width: 26px;
    height: 26px;
    background: #fff;
    line-height: 26px;
}
.pagination span.active{
    color: #ffffff;
    background: #AF2812;
}
.pagination span.active a{
    color: #ffffff;
}
.pagination span a{
    display: block;
}
.pagination span.previous-inactive{
    width:60px;
    color: #999;
    background: #EEEEEE;
    cursor:not-allowed;
}
.pagination span.next{
    margin-right: 0;
    width:60px;
}
.pagination span.previous{
    width:60px;
}
.pagination span.next-inactive{
    width:60px;
    color: #999;
    background: #EEEEEE;
    cursor:not-allowed;
}
/*头部开始*/
.top-nav{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #e5e5e5;
}
.top-menu{
     width: 980px;
     margin: 0 auto;
 }
.top-menu .collection{
    width: 65px;
    padding-left: 20px;
    background: url("../images/collection.png") no-repeat 0 2px;
}
.divide-line{
    float: right;
    height: 30px;
    max-width: 350px;
}
.divide-line span{
    display: inline-block;
    overflow: hidden;
    height: 30px;
    float: left;
    margin: 0 5px;
}
.top-name{
    display: inline-block;
}
.divide-line .info-wide{
    float: left;
    height: 30px;
    position: relative;
    cursor: pointer;
}
.divide-line .info-wide img{
    height: 22px;
    width: 22px;
    overflow: hidden;
    margin-top: 3px;
    vertical-align: top;
    border-radius: 3px;
}
/*.divide-line .logout{
    display: inline-block;
    height: 30px;
    overflow: hidden;
    float: left;
}
*/
.top-menu span.online{
    display:block;
    height: 30px;
    line-height: 30px;
    float: right;
    margin-left: 10px;
    position: relative;
    padding-left: 20px;
    background: url("../images/headicon.png") no-repeat 2px -38px;
}
.head-set{
    position: absolute;
    top: 20px;
    left: 0px;
    width: 120px;
    overflow: hidden;
    padding-top: 10px;
    display: none;
    z-index: 999;
}
.head-set li{
    text-align: center;
    background: #E5E5E5;
    border: 1px solid #d2d2d2;
}
.head-set li a{
     display: block;
     width: 95px;
     height: 30px;
     margin: -1px auto 0;
     line-height: 30px;
     text-align: center;
 }
.head-set li a:hover{
    color: #cd1212;
}
.logo-box{
    width: 980px;
    height: 88px;
    margin: 0 auto;
}
.logo-box .logo{
    width: 150px;
    height: 80px;
    float: left;
    margin: 5px 0 0 10px;
}
.logo-box .right-box{
    float: right;
}
.right-box .search{
    float: left;
    margin-top: 47px;
}
.search input{
    width: 288px;
    height: 16px;
    line-height: 16px;
    padding: 5px 0 5px 10px;
    border: 2px  solid #af2812;
    border-right: 0;
    display:block;
    float: left;
    background: none;

}
.search .search-btn{
    width: 26px;
    display:block;
    float: left;
    height: 26px;
    border: 2px  solid #af2812;
    border-left:0;
}
.right-box .shopping-box{
    float: left;
    margin-left: 30px;
}
.shopping-box .shopping-cart{
    width: 178px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #d2d2d2;
    margin: 10px 0 10px 0px;
    background:#af2812;
    text-align: center;
    position: relative;
}
.shopping-box .shopping-cart .title-md a:hover{
    color: #af2812;
    text-decoration: underline;

}
.shopping-box  .shp-c-h{
    background: #FFFFFF;
    border: 1px solid #d2d2d2;
    border-bottom: 0;
    z-index: 999;
}
.dropdown-list .img-box{
    margin-bottom: 0;
}
.shopping-box .dropdown-list li .price{
    margin-top: 11px;
}
.shopping-box .dropdown-list li .text-md a{
    color: #2c2c2c;
}
.shp-c-h a.car-t{
    color: #AF2812;
}
 .shp-c-h a.car-t i{
    background-position: -179px -11px;
}

.shopping-cart .dropdown-list{
    position: absolute;
    top: 25px;
    right: 0;
    width: 300px;
    overflow: hidden;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #ddd;
    z-index: 100;
}
.shopping-cart .dropdown-list li{
    padding-bottom: 5px;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
}
.dropdown-list li .info-side{
    margin-left:10px;
    text-align: left;
}
.btn-delete{
    position: absolute;
    top: 29px;
    right: 10px;
}
.btn-delete:hover{
    color: #f60;
}
.shopping-box  .all{
    height: 25px;
    line-height: 25px;
    border: 1px solid #d2d2d2;
    padding: 0 10px;
}
.shopping-box .all b{
    color: #2af;
    font-size: 16px;
    font-weight: normal;
    margin-left:5px;
    padding:2px 5px;
}
.navbar{
    width: 100%;
    background:#af2812 ;
    height: 40px;
    margin-bottom: 10px;
}
.navbar ul{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
.navbar ul li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    width: 163px;
}
.navbar ul li a.active{
    background: #cd2d14;
}
.navbar ul li a{
    display: block;
    color: white;
    font-size: 14px;
}
.navbar ul li a:hover{
    background: #cd2d14;
}
/*头部结束*/
/*底部开始*/
.footer-wrapper{
    width: 980px;
    overflow: hidden;
    margin: 10px auto 0;
    background: #ffffff;
}
.footerWrap{
    width: 980px;
    overflow: hidden;
    margin: 10px auto 0;
    background: #ffffff;
    padding-top: 30px;
}
.help-bg{
    width: 100%;
}
.footer-help {
    margin-bottom: 50px;
    overflow: hidden;
}
.footer-help dl{
    overflow: hidden;
    float: left;
    margin-top: 45px;
}
.pl-01{
    font-size: 13px;
}
.footer-help .dl01{
    margin-left: 240px;
}
.footer-help .dl02{
    margin-left: 120px;
    width: 160px;
}
.footer-help .dl04{
    margin-left: 40px;
    width: 160px;
}
.footer-help dl.three{
    margin-left: 40px;
    width: 240px;
}
.footer-help dl dt{
    text-indent: 10px;
    border-left: 3px solid #B92C00;
    font-weight: bold;
    font-size: 14px;
}
.footer-help dl dd{
    padding:5px 0  5px 15px;
    font-size: 14px;
    color: #595959;
}
.footer-help dl dd a{
    color: #595959;
}
.footer{
    text-align: center;
    background: #FFFFFF;
}
.bottom-nav{
    margin: 0 auto 5px;
    width: 340px;
    width: 34
    0px;
    overflow: hidden;
}
.bottom-nav li{
     float: left;
     padding:0px 5px;
     text-align: center;
 }
.bottom-nav li a{
    color: #5b5b5b;
}
.footer p{
    line-height: 18px;
}
.footer .log{
    color: #b92c00;
    font-size: 18px;
    margin: 35px 0;
}
.kf{
    display: block;
    background:url("../images/bg.png") no-repeat -0px -2px;
    color: #ffffff;
    font-size: 16px;
    height: 38px;
    width: 216px;
    line-height: 35px;
    text-align: center;
}
.safety{
    overflow: hidden;
    width: 385px;
    margin:0 auto;
}
.safety li{
    float: left;
    width: 120px;
    height: 45px;
    margin-right: 12px;
    background: url("../images/bg.png") no-repeat -3px -80px;
}
.safety li:last-child{
    margin-right:0px;
}
.safety li.safety-02{
    background-position: -169px -80px;
}
.safety li.safety-03{
    background-position: -326px -80px;
}
.safety li a{
    float: left;
    width: 120px;
    height: 45px;
}
.weiXin{
    width: 120px;
    position: fixed;
    z-index: 100;
    background: #FFFFFF;
    padding: 5px;
    border: 1px solid #d2d2d2;
}
.weiXin-img{
    width: 120px;
    height: 120px;
    text-align: center;
    position: relative;
}
.weiXin p{
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #999999;
}
.icon-close{
    width: 21px;
    height: 21px;
    display:block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0px;
    background: url("../images/icon-02.png") no-repeat -117px -0px;
}
.icon-upward{
    height: 11px;
    position: absolute;
    right: 36px;
    top: -11px;
    width: 20px;
    background: url("../images/icon-02.png") no-repeat scroll -245px -6px rgba(0, 0, 0, 0);
}
.short-cut{
    overflow: hidden;
    border: 1px solid #e4e4e4;
    border-bottom: none;
    border-radius: 5px;
    position: fixed;
    bottom: 100px;
    background: #FFFFFF;
    display: none;
}
.short-cut a{
    display: block;
    width: 58px;
    height: 58px;
    border-bottom: 1px solid #e4e4e4;
    background: url("../images/shortCut.png") no-repeat;
}
.short-cut a.item-cart{
    position: relative;
    background-position: 0 0;
}
.short-cut a.item-cart:hover{
    background-position: -58px 0;
}
.short-cut a.item-cart s{
    display: inline-block;
    width:18px;
    height:18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: url("../images/icon-02.png") no-repeat -194px -337px;
    position: absolute;
    top: 0;
    right: 0;
}
.short-cut a.item-qq{
    background-position: -0px -59px;
}
.short-cut a.item-qq:hover{
    background-position: -58px -59px;
}
.short-cut a.item-love{
    background-position: -0px -118px;
}
.short-cut a.item-love:hover{
    background-position: -58px -118px;
}
.short-cut a.item-gotTop{
    background-position: -0px -177px;
}
.short-cut a.item-gotTop:hover{
    background-position: -58px -177px;
}
/*底部结束*/
/*弹出登录*/
.login2,.prompt{
    width: 360px;
    overflow: hidden;
    border: 1px solid #d2d2d2;
    display: none;
    position: absolute;
    z-index: 9999;
    background: #ffffff;
}
.login2 .login2-head,.prompt .prompt-head{
    height: 40px;
    border-bottom: 1px solid #d2d2d2;
    background: #f1f1f1;
    position: relative;
}
.close{
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url("../images/icon-02.png") no-repeat -137px 0;
    position: absolute;
    top: 0;
    right: 0;
}
 .login2-head h3,
 .prompt .prompt-head h3{
    line-height: 40px;
    text-align: center;
}
 .login2-body{
    overflow: hidden;
    padding: 20px 30px 0;
}
 .login2-body li{
    position: relative;
    margin-bottom:5px;
    overflow: hidden;
    width: 300px;
}
.login2-body li input{
    height: 36px;
    line-height: 36px;
    border: 1px solid #d2d2d2;
    width: 296px;
    text-indent: 30px;
    display:block;
}
.login2-body li .Validform_checktip{
    line-height: 30px;
    max-height:30px;
}
.register-bar{
    margin-top: 15px;
    border-top: 1px solid #d2d2d2;
    padding:10px 30px;
}
.register-bar .register{
    font-weight: bold;
    text-decoration: underline;
    border: none;
    text-decoration: underline;
    color: #16abff;
}
#greybackground {
   background:#000;
   display:block;
   z-index:100;
   width:100%;
   position:absolute;
   top:0;
   left:0;
}
.prompt-panel{
    overflow: hidden;
    margin: 80px 0;
    text-align: center;
}
.prompt-panel .btn{
    margin-right: 20px;
}
/*支付*/
.pay-way{
    overflow: hidden;
}
.pay-way dl{
    overflow: hidden;
    border: 1px solid #d2d2d2;
    padding: 0 15px;
    font-size: 14px;
}
.pay-way dl dt{
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 0;
    clear: both;
}
.pay-way .caption{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
}
.pay-way dl dd{
    float: left;
    width: 150px;
    height: 31px;
    margin:0 30px 20px 0;
}
.pay-way dl dd input{
    display:block;
    float: left;
    margin: 12px 5px 0 0;
    cursor: pointer;
}
.pay-way dl dd label{
    display:block;
    cursor: pointer;
    float: left;
    width: 105px;
    height: 31px;
}
.pay-way dl dd label span{
    display:block;
    width: 105px;
    height: 31px;
    background:url("../images/bank_logo.png") no-repeat;
}
.pay-way dl dd label .zhs{
    background-position: 0 -36px;
}
.pay-way dl dd label .jt{
    background-position: 0 -466px;
}
.pay-way dl dd label .gsh{
    background-position: 0 -3px;
}
.pay-way dl dd label .zhg{
    background-position: 0 -433px;
}
.pay-way dl dd label .zhx{
    background-position: 0 -333px;
}
.pay-way dl dd label .jsh{
    background-position: 0 -69px;
}
.pay-way dl dd label .ny{
    background-position: 0 -102px;
}
.pay-way dl dd label .zhf{
    background-position: 0 -613px;
}
.pay-way dl dd label .cft{
    background-position: 0 -501px;
}
.pay-way dl dd label .kq{
    background-position: 0 -577px;
}
.pay-help{
    overflow: hidden;
    margin-bottom: 10px;
}
.pay-help dt{
    margin-bottom: 10px;
    line-height: 24px;
    height: 24px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #D2D2D2;
}
.pay-help dd{
    margin-bottom: 10px;
    line-height: 24px;
}
.pay-help dd a{
    margin-right:30px;
    color: #0093D0;
}
.pay-help dd ol{
    overflow: hidden;
    list-style-type: decimal;
}
.pay-row{
    overflow: hidden;
    padding: 5px 0;
    margin-bottom: 10px;
    font-size: 14px;
}
.pay-row label input{
    height: 20px;
    width: 20px;
    padding: 0;
    margin:0px 10px 0 0;
    vertical-align: middle;
}
.announcement{
    overflow: hidden;
    border: 1px solid #d2d2d2;
    padding: 20px;
    background: #ffffff;
}
.announcement dt{
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}
.announcement dd{
    overflow: hidden;
    border-top:1px dashed #d2d2d2;
    padding: 10px 0;
    margin-bottom: 10px;
}
.announcement dd .a-content{
    line-height: 22px;
    overflow: hidden;
    height: 44px;
    text-indent: 2em;
}
.announcement dd .a-title{
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
}
.wrapper{
    overflow: hidden;
	margin:0 auto;
}
.toolbox{
    position: relative;
}
.tooltip{
    width: 50px;
    height: 22px;
    line-height: 22px;
    color: #333;
    padding-right: 20px;
    display: inline-block;
    text-align: center;
    color: #333333;
    background:url("../images/icon-02.png") no-repeat -37px -297px;
}
.num-list{
    position: absolute;
    top:30px;
    right: -25px;
    z-index: 999;
    display: none;
    width: 282px;
}
.num-list .item{
    width: 100%;
    overflow-y: auto;
    max-height: 200px;
}
.num-list table{
    background: #ECF0F5;
}
.num-list table tbody tr td{
    text-align: left;
}

.num-list ul{

    background: #ECF0F5;
    padding: 10px;
    max-height: 200px;
    border-radius: 5px;
    width:260px;
    position: relative;
    overflow-y: auto;
}

.num-list li{
    height: 24px;
    line-height: 24px;
    float: left;
    width:80px;
}
.vertical-ticker{
	overflow:hidden;
	margin:0; padding:0;
    height: 380px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0, .4);
}

.vertical-ticker li{
		padding:10px 10px;
		display:block;
		border-bottom:1px solid #d2d2d2;
}
.time-box input{
    border: 1px solid #d2d2d2;
    height: 20px;
    line-height: 20px;
    margin: 5px 10px 5px 0;
    width: 120px;
    text-indent: 1em;
}
.sca{
    padding: 4px 8px;
    color: #238cff;
    font-size: 12px;
    display: block;
}
.help-tool{
    margin-top: 20px;
    border-top: 1px solid #d2d2d2;
    padding: 20px 180px;
}
.announced-news .title-br a:hover,
.buying-box .title-br a:hover,
.notice li a:hover,
.footer-help dl dd a:hover,
.bask-list .title-02 a:hover
{
    color: #ce4d40;
    text-decoration: underline;
}
.inner-login{
    overflow: hidden;
}
.inner-login dt{
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
    margin: 0 0 10px 50px;
}
.inner-login dd{
    text-align: center;
    height: 33px;
    line-height: 33px;
    margin-bottom: 15px;
}
.inner-login dd.last{
    margin-bottom: 0;
}
.inner-login dd input.text{
    width: 257px;
    height: 33px;
    line-height: 33px;
    margin: 0;
    padding-left: 33px;
    border: 1px solid #d2d2d2;
    background:url("../images/user-icon.png") no-repeat 4px 4px;
}
.inner-login dd input.password{
    width: 257px;
    height: 33px;
    line-height: 33px;
    margin: 0;
    padding-left: 33px;
    border: 1px solid #d2d2d2;
    background:url("../images/user-pwd.png") no-repeat  4px 4px;
}
.inner-login dd .btn-rg{
    float: left;
    margin-right: 10px;
}
.inner-login dd button{
    margin-left: 129px;
}
.img-wide{
    overflow: hidden;
}
/*帐户管理*/
.prepaid-box{
    background: #ffffff;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
.prepaid-box .pay-money{
    overflow: hidden;
    margin-bottom: 10px;
}
.prepaid-box .pay-money dt{
    clear: both;
    height: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}
.prepaid-box .pay-money dd{
    float: left;
    overflow: hidden;
    margin-right: 30px;
}
.prepaid-box .pay-money dd label{
    display: block;
    height: 22px;
    line-height: 22px;
    border: 1px solid #d2d2d2;
    background: #f1f1f1;
    padding: 5px 15px;
    cursor: pointer;
}
.prepaid-box .pay-money dd .else{
    display: inline-block;
    line-height: 36px;
    height:36px;
}
.prepaid-box .pay-money dd .else input{
    width: 90px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #d2d2d2;
    margin: 0 8px;
    text-indent:1em;
}
/*邀请*/
.invite .content{
    border: 2px solid #af2812;
    padding: 20px;
    min-height: 400px;
}
.invite .content .item{
    overflow: hidden;
    margin-bottom: 20px;
}
.invite .content .btn-row{
    margin-top: 80px;
    padding: 20px;
    overflow: hidden;
}
.invite .content .tit{
    font-size: 22px;
    font-weight: 600;
    color: #af2812;
    padding-bottom: 15px;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 20px;
}
.invite-tit{
    font-size: 14px;
    margin-bottom: 20px;
}
.sycee{
    width: 300px;
    background: #f1f1f1;
    padding: 20px;
    margin-right: 20px;
    height: 80px;
}
.gift-tit{
    font-size: 16px;
    color: #af2812;
    margin-bottom: 10px;
}
.integral{
    height: 80px;
    width: 305px;
    background: #f1f1f1;
    padding: 20px;
}
.W-left {
    width: 700px;
    padding: 19px;
    border: 2px solid #af2812;
    background: #ffffff;
}
.W-left h4 {
    height: 40px;
    border-bottom: 1px solid #EDEDED;
}

.W-left h4 i {
    background-position: 0 0;
    width: 116px;
    height: 32px;
    display: block;
}
.wqyl {
    width: 700px;
    margin: 20px auto;
    display: inline-block;
}
.wqylL {
    float: left;
}
.wqylR {
    float: right;
}
.wqylL, .wqylR {
    padding: 10px 0;
    border: 2px solid #f1f1f1;
    background: #f7f7f7;
    width: 340px;
    height: 115px;
}
.wqyl dl {
    float: left;
    margin-left: 10px;
    font-size: 14px;
    color: #666;
    line-height: 25px;
}
.W-right {
    width: 227px;
    border: 1px solid #D2D2D2;
    color: #666;
    background: #ffffff;
}
.W-right h4 {
    background-position: 0 -138px;
    font-size: 14px;
    font-weight: bold;
    text-indent: 10px;
    margin-top: 8px;
    line-height: 30px;
}
.rig_con {
    padding: 7px 7px 0;
}
.rig_con li {
    border-top: 1px solid #D2D2D2;
    padding: 15px 0;
    line-height: 22px;
}
.rig_con  li h5{
    font-weight: bold;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
.login_reg {
    height: 45px;
    padding-top: 25px;
    text-align: center;
    font-size: 14px;
    color: #666;
}
.login_reg a{
    color:#0093D0;
}
.login_button {
    text-align: center;
}
.fs14 {
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}
.Invitation-t {
    border-bottom: 1px solid #D2D2D2;
    font-size: 14px;
    height: 25px;
    font-weight: bold;
    text-indent: 0.5em;
}
.Invitation-C1 .textarea {
    width: 678px;
    height: 50px;
    padding: 5px 10px;
    line-height: 22px;
    font-size: 14px;
    border: 1px solid #ddd;
    color: #333;
    background: #f7f7f7;
    margin-bottom: 20px;
    -moz-box-shadow: 1px 1px 1px #D2D2D2 inset;
    -webkit-box-shadow: 1px 1px 1px #D2D2D2 inset;
    box-shadow: 1px 1px 1px #ddd inset;
}
.Invitation-C1 {
    overflow: hidden;
    border-bottom: 1px dashed #D2D2D2;
    padding: 20px 0;
}
.Invitation-C2 {
    overflow: hidden;
    border-bottom: 1px dashed #D2D2D2;
    padding: 20px 0;
}
.Invitation-C3 {
    overflow: hidden;
    padding: 20px 0 0 0;
}
.Invitation-C3 li {
    width: 88px;
    float: left;
    margin-right: 12px;
}
.M126, .M163, .Mmsn, .Msohu, .Mgmail, .Msina, .Myahoo {
    width: 87px;
    height: 36px;
    display: block;
    background: url("../images/shareIcon.png") no-repeat;
}
a.M126 {
    background-position: -0px -0px;
}
a.M163 {
    background-position: -97px -0px;
}
a.Mmsn {
    background-position: -193px -0px;
}
a.Msohu {
    background-position: -287px -0px;
}
a.Mgmail {
    background-position: -384px -0px;
}
a.Msina {
    background-position: -478px -0px;
}
a.Myahoo {
    background-position: -574px -0px;
}
.flink{
    margin-bottom: 15px;
}
.flink a{
    color: #5b5b5b;
}
/*面包屑*/
.bread{
    width: 980px;
    height: 30px;
    color: #bbbbbb;
    line-height: 30px;
    overflow: hidden;
    margin-bottom: 5px;
}
.bread ul li{
    float: left;
    margin-right: 5px;
}
.bread ul li a{
    color: #bbbbbb;
}
.bread ul li em{
    font-style: normal;
    list-style: none;
}
.codeList{
    z-index: 100;
    min-width: 202px;
    box-shadow: 1px 2px 3px 1px #D1D0D0;
    background-color: #ECF0F5;
    border-radius: 6px;
    position: absolute;
    display: none;
    top: 30px;
    right:10px;
}

.codeList:before{
    content: "";
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #ECF0F5 transparent;
    height: 0px;
    position: absolute;
    right: 23px;
    top: -9px;
    width: 0px;
    -webkit-transform: rotate(360deg);
}
.codeList dl{
    max-height: 200px;
    font-weight: bold;
    overflow-y: auto;
    border: 1px solid #ECF0F5;
    background: #ffffff;
}
.codeList dl dt{
    padding: 8px 10px;
    background: #ECF0F5;
}
.codeList dl dd{
    overflow: hidden;
    float: left;
    min-width: 90px;
    height: 26px;
    color: #666;
    line-height: 26px;
    text-align: center;
}
.codeList .icon-shut{
    position: absolute;
    top: 2px;
    right: 2px;
}
.overdueList{
    height: 310px;
    overflow: hidden;
}
.overdueList ul{
    width: 100%;
}














