*{margin: 0;padding: 0;list-style: none;text-decoration: none; border: 0;}
body{
    font:12px/1.231 "微软雅黑","宋体",Helvetica,Arial,sans-serif;
    color: #333;
    background: #F1F1F1;
}
.b{
    color:#379BE9;
}
.r{
    color: #c10101;
}
.o{
    color: #f60;
}
a{
    color: #333333;
    outline: none;
}
.w{
    margin: 0 auto;
    overflow: hidden;
    width: 980px;
}
p{
    line-height: 22px;
}
h4{
    color: #666;
    font-weight: normal;
    font-size: 12px;
}
h3{
    font-size: 14px;
}
h5{
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    font-weight: normal;
}
h2{
    font-size: 18px;
}
textarea{
    width: 100%;
    overflow:auto;
    resize: none;
    font-size: 14px;
    line-height: 1.428571429;
}
button,input{
    outline: none;
    text-transform: none;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: visible;
}
button{
    cursor:pointer;
}
textarea:focus,input:focus{
    outline: none;
    border: 1px solid #00CCFF;
}
.d-n{
    display: none;
}
/*内容*/
.content{
    overflow: hidden;
    float: left;
    width: 72%;
    background: #FFFFFF;
    border: 1px solid #dddddd;
}
.content-md{
    line-height: 18px;
    padding: 5px;
    height: 52px;
    text-indent: 2em;
    overflow: hidden;
}
.text-content{
    line-height: 18px;
    text-indent: 2em;
    color: #666666;
    text-align: left;
}
.text-title{
    text-align: left;
    max-height: 40px;
    line-height: 20px;
    word-wrap: break-word;
    overflow: hidden;
    width: 420px;
}
.sidebar{
    overflow: hidden;
    width: 230px;
    background: #FFFFFF;
    padding: 0 10px;
}
.price{
    display: block;
    font-size: 12px;
}
.price b{
    color: #f60;
    padding: 0px 5px;
}
.all-price{
    display: block;
    font-size: 14px;
}
.all-price b{
    color: #E4393C;
    padding: 0px 5px;
}
.username{
     display: inline-block;
     max-width: 150px;
     color:#999;
     line-height: 18px;
     font-weight: bold;
    text-align: left;
     overflow: hidden;
     vertical-align: middle;
     white-space: nowrap;
     text-overflow: ellipsis;
 }
.username a{
     color: #379BE9;
}
.number,.ip,.price,.datetime,.remain{
    line-height:18px;
    color: #999;
    text-align: left;
}
.number b,.remain b{
    color: #f60;
}
/*按钮*/
.btn-comment{
    background: #ffffff;
    border: 1px solid #dddddd;
}
.btn-menu {
    margin: 0 10px 10px;
    text-align: center;
}
.btn-menu  .add{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    width: 22px;
    text-align: center;
    background: #d5d5d5;
}

.btn-menu input{
    width: 80px;
    border: 1px solid #f1f1f1;
    height: 20px;
    display: inline-block;
    margin:0 -4px;
    text-align: center;
}
.btn-menu button{
    width: 22px;
    border: 1px solid #f1f1f1;
    height: 24px;
    display: inline-block;
    cursor: pointer;
    background: #dbdbdb;
}
.btn-group{
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.btn{
    display: inline-block;
    overflow: visible;
    padding: 0px 12px;
    font-size: 14px;
    font-weight: normal;
    height: 33px;
    line-height:33px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    text-emphasis:none;
    position: relative;
    z-index: 100;
}
.btn-link{
    border: none;
    background:none;
    cursor: pointer;
    display: inline-block;
    padding: 4px 6px;
}
.btn-red{
    background: #B92C00;
    color: #ffffff;
}
.btn-red:hover{
    background: #CF3404;
}
.btn-y{
    color: #666666;
    background: #EEC891;
}
.btn-y:hover{
    background: #eed9ab;
}
.btn-sx{
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    padding:0px 12px;
}
.btn-sm{
    height: 16px;
    line-height: 16px;
    padding:0px 4px;
    font-size: 12px;
}
.btn-lg{
    padding:8px 15px;
    font-size: 14px;
}
.btn-block{
    display: block;
}
.btn-comment{
    padding: 6px 15px;
}
.signin{
    font-weight: bold;
    color: #34a1ff;
}
.underway{
    border-radius: 3px;
    color: #FFFFFF;
    width: 120px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #AF2812;
    display: block;
}
 .sns-bar{
     overflow: hidden;
     margin: 5px 0;
 }
.sns-bar .sns-love{
    display: inline-block;
    text-indent: 12px;
    padding: 4px 6px;
    background: url("../images/icon-02.png") no-repeat -0px -175px;
}
.sns-bar .sns-comment{
    display: inline-block;
    text-indent: 12px;
    padding: 4px 6px;
    background: url("../images/icon-02.png") no-repeat -90px -174px;
}
.tl{
    text-align:left ;
}
.tr{
    text-align:right ;
}
.tc{
    text-align:center ;
}
table{
    border: 1px solid #EEEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table thead tr th{
    border: 1px solid #DDDDDD;
    text-align: center;
    background: #f1f1f1;
    padding: 8px;
    line-height: 1.38462;
}
table tbody tr td{
    border: 1px solid #EEEEEE;
    text-align: center;
    padding: 8px;
    line-height: 1.38462;
}
table tbody tr td .username{
    width: 100%;
    display: block;
}
.inner-title{
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*图标*/
.icon{
    text-align: center;
    display: inline-block;
    z-index: 888;
    background:url("../images/icon.png") no-repeat;
}
.icon-car{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background-position: -134px -11px;
}
.icon-search{
    width: 25px;
    height: 25px;
    margin:0;
    background:#a40000 url("../images/icon.png") no-repeat 0px -5px;
}
.icon-clock{
    width: 20px;
    height: 20px;
    background-position: -44px -7px;
}
.icon-horn{
    width: 19px;
    height: 19px;
    vertical-align: middle;
    background-position: -47px -44px;
}
.icon-phone{
     width: 22px;
     height: 22px;
     vertical-align: middle;
     background-position:0px -41px;
 }
.icon-qq{
    width: 19px;
    height:23px;
    vertical-align: middle;
    background-position:-89px -45px;
}
.icon-like{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background-position:0 -135px;
}
.icon-comment{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background-position:0 -164px;
}
.icon-online{
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-right: 5px;
    background-position:-88px -7px;
}
.icon-love{
    width: 18px;
    height: 18px;
    height: 18px;
    vertical-align: middle;
    background-position:0 -196px;
}
.icon-expression{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background-position:0 -226px;
}
.icon-prompt{
    width: 60px;
    height: 60px;
    vertical-align: middle;
    background-position:0 -226px;
}
.icon-user,.icon-password{
    width: 18px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    background: url("../images/icon-02.png") no-repeat -0px -213px;
}
.icon-password{
    background-position: -0px -264px;
}
.icon-01{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 10px;
    right: 40px;
    background: url("../images/bg.png") no-repeat -3px -260px;
}
.icon-02{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 105px;
    right: 40px;
    background: url("../images/bg.png") no-repeat -96px -260px;
}
.icon-new{
    width: 54px;
    height: 55px;
    position: absolute;
    top: -8px;
    left: 0;
    z-index: 999;
    display: inline-block;
    background: url("../images/bg.png") no-repeat -9px -457px;
}
.icon-succeed{
   width:65px;
   height: 50px;
   vertical-align: middle;
   background-position: 0 -224px;
}
.icon-arrow{
    width: 24px;
    height: 16px;
    background: url("../images/icon-02.png") no-repeat 0 -297px;
    position: absolute;
    top:-10px;
    right: 10%;
}
/*图片*/
.img-box{
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}
.img-lg{
    width: 230px;
    height: 230px;
}
.img-md{
    width: 120px;
    height: 120px;
    line-height: 120px;
    overflow: hidden;
}
.img-sm{
    width: 70px;
    height: 70px;
    line-height: 50px;
    overflow: hidden;
}
.img-box img{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
.head-img{
    text-align: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #dddddd;
}
.head-sm{
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 3px;
}
.head-img img,.head-sm img{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
.info-side{
    width: 65%;
    overflow: hidden;
}
.info-side span{
    display: block;
}
.info{
    width: 60%;
}
.info span{
    display: block;
}
.text-md{
    width: 220px;
    overflow: hidden;
    white-space: nowrap;
}
/*标题*/
.title{
    padding: 10px;
    overflow: hidden;
}
.title h3{
    float: left;
    font-size: 16px;
}
.title-lg{
    width: 300px;
    line-height: 22px;
    overflow: hidden;
    height: 22px;
    white-space: nowrap;
    font-size: 14px;
    text-overflow: ellipsis;
}
.title-sm{
    width: 180px;
    line-height: 22px;
    font-size: 12px;
    overflow: hidden;
    height: 22px;
    white-space: nowrap;
    font-weight: bold;
    text-overflow: ellipsis;
}
.title-mx{
    width: 120px;
    line-height: 22px;
    font-weight: bold;
    height: 22px;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
}
.title-md{
    width: 210px;
    line-height: 22px;
    font-size: 14px;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
}
.title-red{
    width: 120px;
    padding: 5px 15px;
    background: #AF2812;
    margin: 10px 0;
    color: #FFFFFF;
    overflow: hidden;
    white-space: nowrap;
}
.title-md h4{
    color: #FFFFFF;
}
.title-chg{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight:400;
}
.title-chg b{
    margin: 0 5px;
    color: #AF2812;
}
.title-box{
    min-height: 40px;
    background: #eeeeee;
    padding:5px 10px;
}
.title-box h3{
    font-weight: normal;
}
.title-br{
    height: 40px;
    line-height: 20px;
    font-size: 12px;
    font-weight:bold;
    word-wrap:break-word ;
    overflow: hidden;
}
.more{
    display: block;
    float: right;
    color: #379BE9;
}
.fl{
    float: left;
    display: block;
}
.fr{
    float: right;
    display: block;
}

/*进度条*/
.progress-side{
    overflow: hidden;
    padding: 0 10px;
}
.progress-side dd{
    width: 100%;
    overflow: hidden;
    margin-bottom: 8px;
}
.progress{
    height: 15px;
    border-radius: 4px;
    background: #f1f1f1;
    overflow: hidden;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    z-index: 100;
    position: relative;
}
.progress .progress-bar{
    height: 100%;
    line-height: 15px;
    background: #D9534F;
    width: 10%;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    border-radius: 4px 0 0px 4px;
}
.toggles{
    overflow: hidden;
    margin-bottom: 10px;
    white-space: nowrap;
    vertical-align: middle;
}
.toggles a{
    display:block;
    float: left;
    background: #E74C3C;
    padding: 8px 10px;
    color: #ffffff;
}
.toggles a.first-child{
    border-radius: 5px 0 0 6px;
}
.toggles a.last-child{
    border-radius: 0 5px 5px 0;
}
.toggles a.active{
    background:#c83f31;
}
.toggles a:hover{
    background:#fc5240;
}

/*分页*/
.pagination{
    overflow: hidden;
    margin-bottom: 10px;
    clear: both;
}

.pagination span{
    float: left;
    margin-right: 10px;
    display: block;
    background: #f1f1f1;
    border: 1px #EEEEEE solid;
    border-radius: 3px;
    text-align: center;
    width: 30px;
    height: 28px;
    line-height: 28px;
}
.pagination span a{
    display: block;
}
.pagination span a:hover{
    background: #D9534F;
    color: #ffffff;
    border-radius: 3px;
}
.pagination span.active{
    background:#D9534F ;
    color: #ffffff;
}
.pagination span.active a{
    color: #ffffff;
}
.pagination span.previous-inactive{
    width:60px;
}
.pagination span.next{
    width:60px;
}
.pagination span.previous{
    width:60px;
}
.pagination span.next-inactive{
    width:60px;
}
/*头部开始*/
.top-nav{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #e5e5e5;
}
.top-menu{
     width: 980px;
     margin: 0 auto;
 }
.top-menu span.login-bar{
    min-width: 65px;
    float: right;
}
.top-menu span.online{
    float: right;
    margin-left: 20px;
    width: 70px;
}
.top-menu span a{
}
.logo-box{
    width: 980px;
    height: 88px;
    margin: 0 auto;
}
.logo-box .logo{
    width: 150px;
    height: 60px;
    float: left;
    margin: 20px 0 0 20px;
}
.logo-box .right-box{
    float: right;
}
.right-box .search{
    float: left;
    margin-top: 44px;
}
.search input{
    width: 220px;
    height: 25px;
    border: 2px  solid #af2812;
    border-right: 0;
    display:block;
    float: left;
    text-indent: 1em;
    background: none;

}
.search .search-btn{
    width: 25px;
    display:block;
    float: left;
    height: 25px;
    border: 2px  solid #af2812;
    border-left:0;
}
.right-box .shopping-box{
    float: left;
    margin-left: 30px;
}
.shopping-box .shopping-cart{
    width: 178px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #F1F1F1;
    margin: 10px 0 10px 0px;
    background:#af2812;
    text-align: center;
    position: relative;
}
.shopping-box  .shp-c-h{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-bottom: 0;
    z-index: 999;
}
 .shp-c-h .dropdown-list{

}
 .shp-c-h a.car-t{
    color: #AF2812;
}
 .shp-c-h a.car-t i{
    background-position: -179px -11px;
}

.shopping-cart .dropdown-list{
    position: absolute;
    top: 25px;
    right: 0;
    width: 300px;
    overflow: hidden;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #ddd;
    z-index: 100;
}
.shopping-cart .dropdown-list li{
    padding-bottom: 5px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
}
.dropdown-list li .info-side{
    margin-left:10px;
    text-align: left;
}
.btn-delete{
    position: absolute;
    top: 29px;
    right: 10px;
}
.btn-delete:hover{
    color: #f60;
}
.shopping-box  .all{
    height: 25px;
    line-height: 25px;
    border: 1px solid #dddddd;
    padding: 0 10px;
    background: #d1d1d1;
}
.shopping-box  .all b{
    color: #437eff;
    font-size: 16px;
    font-weight: bold;
    margin-left:5px;
}
.navbar{
    width: 100%;
    background:#af2812 ;
    height: 38px;
    margin-bottom: 20px;
}
.navbar ul{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    border-right: 1px solid #920303;
}
.navbar ul li{
    height: 36px;
    line-height: 40px;
    text-align: center;
    float: left;
    width: 196px;
}
.navbar ul li a.active{
    background: #cd2d14;
}
.navbar ul li a{
    display: block;
    width: 195px;
    height: 37px;
    color: white;
    font-size: 14px;
    border-left: 1px solid #920303;
}
.navbar ul li a:hover{
    background: #cd2d14;
}
/*头部结束*/
/*底部开始*/
.footer-wrapper{
    overflow: hidden;
    margin-top: 20px;
    background: #fff;
}
.help-bg{
    width: 100%;
    border-bottom: 2px solid #eeeeee;
    border-top: 2px solid #eeeeee;
}
.footer-help {
    overflow: hidden;
    padding: 20px 0;
    background: #FFFFFF;
}
.footer-help dl{
    float: left;
    width: 205px;
    margin-left: 30px;
}
.footer-help dl dt{
    text-indent: 10px;
    border-left: 2px solid #B92C00;
    font-weight: bold;
    font-size: 14px;
}
.footer-help dl dd{
    text-indent: 10px;
    line-height: 24px;
}
.footer{
    text-align: center;
    padding-bottom: 20px;
    background: #FFFFFF;
}
.bottom-nav{
    margin: 0 auto;
    width: 320px;
    overflow: hidden;
}
.bottom-nav li{
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 10px;
    text-align: center;
}
.footer p{
    line-height: 18px;
}
.footer span{
    color: red;
    font-size: 18px;
    font-weight:bold;
}
.kf{
    display: block;
    background:url("../images/bg.png") no-repeat -0px -2px;
    color: #ffffff;
    font-size: 16px;
    height: 38px;
    width: 216px;
    line-height: 35px;
    text-align: center;
}
.safety{
    overflow: hidden;
    width: 450px;
    margin: 15px auto 0;
}
.safety li{
    float: left;
    width: 120px;
    height: 45px;
    margin-right: 20px;
    background: url("../images/bg.png") no-repeat -3px -80px;
}
.safety li.safety-02{
    background-position: -169px -80px;
}
.safety li.safety-03{
    background-position: -311px -80px;
}
.safety li a{
    float: left;
    width: 120px;
    height: 45px;
}
.weiXin{
    width: 120px;
    position: fixed;
    z-index: 100;
    background: #FFFFFF;
    padding: 5px;
}
.weiXin-img{
    width: 120px;
    height: 120px;
    text-align: center;
    position: relative;
}
.weiXin p{
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #999999;
}
.icon-close{
    width: 21px;
    height: 21px;
    display:inline-block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0px;
    background: url("../images/icon-02.png") no-repeat -117px -0px;
}

.short-cut{
    overflow: hidden;
    border: 1px solid #e4e4e4;
    border-bottom: none;
    border-radius: 5px;
    position: fixed;
    bottom: 100px;
    background: #FFFFFF;
    display: none;
}
.short-cut a{
    display: block;
    width: 58px;
    height: 58px;
    border-bottom: 1px solid #e4e4e4;
    background: url("../images/shortCut.png") no-repeat;
}
.short-cut a.item-cart{
    position: relative;
    background-position: 0 0;
}
.short-cut a.item-cart:hover{
    background-position: -58px 0;
}
.short-cut a.item-cart s{
    display: inline-block;
    width:18px;
    height:18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background: url("../images/icon-02.png") no-repeat -194px -337px;
    position: absolute;
    top: 0;
    right: 0;
}
.short-cut a.item-qq{
    background-position: -0px -59px;
}
.short-cut a.item-qq:hover{
    background-position: -58px -59px;
}
.short-cut a.item-love{
    background-position: -0px -118px;
}
.short-cut a.item-love:hover{
    background-position: -58px -118px;
}
.short-cut a.item-gotTop{
    background-position: -0px -177px;
}
.short-cut a.item-gotTop:hover{
    background-position: -58px -177px;
}
/*底部结束*/
/*弹出登录*/
.login2,.prompt{
    width: 360px;
    overflow: hidden;
    border: 1px solid #EEEEEE;
    display: none;
    position: absolute;
    z-index: 9999;
    background: #ffffff;
}
.login2 .login2-head,.prompt .prompt-head{
    height: 40px;
    border-bottom: 1px solid #EEEEEE;
    background: #f1f1f1;
    position: relative;
}
.close{
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url("../images/icon-02.png") no-repeat -137px 0;
    position: absolute;
    top: 0;
    right: 0;
}
 .login2-head h3,
 .prompt .prompt-head h3{
    line-height: 40px;
    text-align: center;
}
 .login2-body{
    overflow: hidden;
    padding: 20px 30px 0;
}
 .login2-body li{
    position: relative;
    margin-bottom:5px;
    overflow: hidden;
    width: 300px;
}
.login2-body li input{
    height: 36px;
    line-height: 36px;
    border: 1px solid #EEEEEE;
    width: 296px;
    text-indent: 30px;
    display:block;
}
.login2-body li .Validform_checktip{
    line-height: 22px;
    height: 22px;
}
.register-bar{
    margin-top: 15px;
    border-top: 1px solid #F1F1F1;
    padding:10px 30px;
}
.register-bar .register{
    font-weight: bold;
    text-decoration: underline;
    border: none;
    text-decoration: underline;
    color: #16abff;
}
#greybackground {
   background:#000;
   display:block;
   z-index:100;
   width:100%;
   position:absolute;
   top:0;
   left:0;
}
.prompt-panel{
    overflow: hidden;
    margin: 80px 0;
    text-align: center;
}
.prompt-panel .btn{
    margin-right: 20px;
}
/*支付*/
.pay-way{
    overflow: hidden;
}
.pay-way dl{
    overflow: hidden;
    border: 1px solid #f1f1f1;
    padding: 0 15px;
    font-size: 14px;
    margin-bottom: 20px;
}
.pay-way dl dt{
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 0;
    clear: both;
    border-bottom: 1px solid #f1f1f1;
}
.pay-way dl dd{
    float: left;
    margin:0 40px 20px 0;
    overflow: hidden;
}
.pay-way dl dd input{
    display:block;
    float: left;
    margin: 12px 5px 0 0;
    cursor: pointer;
}
.pay-way dl dd label{
    display:block;
    cursor: pointer;
    float: left;
    width: 105px;
    height: 31px;
}
.pay-way dl dd label span{
    display:block;
    width: 105px;
    height: 31px;
    background:url("../images/bank_logo.png") no-repeat;
}
.pay-way dl dd label .zhs{
    background-position: 0 -36px;
}
.pay-way dl dd label .jt{
    background-position: 0 -466px;
}
.pay-way dl dd label .gsh{
    background-position: 0 -3px;
}
.pay-way dl dd label .zhg{
    background-position: 0 -433px;
}
.pay-way dl dd label .zhx{
    background-position: 0 -333px;
}
.pay-way dl dd label .jsh{
    background-position: 0 -69px;
}
.pay-way dl dd label .ny{
    background-position: 0 -102px;
}
.pay-way dl dd label .zhf{
    background-position: 0 -613px;
}
.pay-way dl dd label .cft{
    background-position: 0 -501px;
}
.pay-way dl dd label .kq{
    background-position: 0 -577px;
}
.pay-help{
    margin: 10px 0;
}
.pay-help dt{
    margin-bottom: 10px;
    line-height: 24px;
}
.pay-help dd{
    margin-bottom: 10px;
    line-height: 24px;
}
.pay-help dd a{
    margin-right:30px;
}
.pay-help dd ol{
    overflow: hidden;
    list-style-type: decimal;
}

.announcement{
    overflow: hidden;
    border: 1px solid #dddddd;
    padding: 20px;
    background: #ffffff;
}
.announcement dt{
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}
.announcement dd{
    overflow: hidden;
    border-top:1px dashed #EEEEEE ;
    padding: 10px 0;
    margin-bottom: 10px;
}
.announcement dd .a-content{
    line-height: 22px;
    overflow: hidden;
    height: 44px;
    text-indent: 2em;
}
.announcement dd .a-title{
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
}
.wrapper{
    overflow: hidden;
	margin:0 auto;
}
.toolbox{
    position: relative;
}
.tooltip{
    padding: 3px 15px;
    color: #FFFFFF;
    display: inline-block;
    background: #b9270d;
}
.num-list{
    position: absolute;
    top:40px;
    right: -10px;
    z-index: 999;
    display: none;
}
.num-list ul{
    border: 1px solid #dddddd;
    background: #ECF0F5;
    padding: 10px;
    max-height: 200px;
    border-radius: 5px;
    width:260px;
    position: relative;
    overflow-y: auto;
}

.num-list li{
    height: 24px;
    line-height: 24px;
    float: left;
    width:80px;
}
.vertical-ticker{
	overflow:hidden;
	margin:0; padding:0;
    height: 380px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0, .4);
}

.vertical-ticker li{
		padding:10px 10px;
		display:block;
		border-bottom:1px solid #ddd;
}
.time-box input{
    border: 1px solid #F1F1F1;
    height: 20px;
    line-height: 20px;
    margin: 5px 10px 5px 0;
    width: 120px;
    text-indent: 1em;
}
.sca{
    padding: 4px 8px;
    color: #238cff;
    font-size: 12px;
    display: block;
}