.car-t{
    color: #FFFFFF;
}
/*左边开始*/
/*最新揭晓开始*/
.announced-news{
    overflow: hidden;
    margin-bottom: 10px;
    background: #FFFFFF;
}
.announced-news ul{
    overflow: hidden;
    border: 1px solid #eeeeee;
    margin: 10px;
    padding: 10px;
}
.announced-news ul li{
    float: left;
    width: 152px;
    margin: 0 10px;
}
.announced-news ul li.announcing{
    border: 2px solid #e60012;
}
.announced-news ul li h5{
    width: 150px;
    overflow: hidden;
    white-space:nowrap ;
    text-overflow: ellipsis;
}

.announced-news ul li .img-box{
    height: 130px;
    line-height: 130px;
}
.news-count{
    overflow: hidden;
    padding: 5px;
    background:#e60012 ;
    color: #ffe400;
    font-size: 14px;
    font-weight: bold;
}
.news-count span{
    vertical-align: middle;
    display: inline-block;
}
/*人气推荐开始*/
.recommended{
    overflow: hidden;
    background: #FFFFFF;
    padding: 10px;
}
.recommended ul{
    margin-right: -10px;
    overflow: hidden;
    background: #FFFFFF;
    padding: 10 0px;
}
.recommended .price{
    text-align: right;
}
.recommended .img-box{
   margin-bottom: 10px;
    border: none;
}
.recommended .progress-side{
    padding: 0 15px;
}
.recommended ul li{
    float: left;
    width: 230px;
    overflow: hidden;
    padding-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #EEEEEE;
}
.recommended ul li.m{
    margin: 0;
}
.second ul{
    overflow: hidden;
    background: #FFFFFF;
    margin:0 -10px 10px 0;
    padding:10px 0;
}
.second ul li{
    float: left;
    width: 230px;
    overflow: hidden;
    padding-bottom: 10px;
    margin-left: 10px;
    border: 1px solid #EEEEEE;
}
.second .progress-side{
    padding: 0 15px;
}
.second .img-box{
    width: 230px;
    height: 230px;
}
.title-box{
     height: 40px;
     background: #eeeeee;
     padding:5px 10px;
 }
.recommended ul li .img-box{
    width: 200px;
    height: 200px;
    line-height: 200px;
    padding: 0 15px;
}
/*左边结束*/
/*右边开始*/
.right-content{
    width: 230px;
    float: right;
}
/*公告*/
.notice{
    overflow: hidden;
    min-height: 230px;
    background: #FFFFFF;
    margin-bottom: 10px;
}
.notice .title,.buying-box .title{
    background:url("../images/bg.png") repeat-x -276px -2px;
}
.notice ul{
    overflow: hidden;
    padding: 10px;
    list-style-type: square;
}
.notice ul li{
    height: 22px;
    line-height: 22px;
    padding:5px;
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*正在乐拍*/
.buying-box{
    overflow: hidden;
    width: 230px;
    background: #FFFFFF;
    border: 1px solid #eeeeee;
    margin-top: 20px;
    height: 292px;
}
.buying-box ul{
    width: 230px;
}
.buying-box ul li{
    height: 65px;
    border-bottom: 1px dashed #d2d2d2;
    margin-bottom: 10px;
}
.buying-box ul li .info-side{
    width: 145px;
    float: left;
    margin-left: 5px;
}
/*右边结束*/
/*晒单分享*/
.bask-wrapper{
    background: #FFFFFF;
}
.bask-side{
    overflow: hidden;
    padding: 0 10px 10px;
}
.bask-side .bask{
    width: 50%;
    padding: 10px;
    border: 1px solid #eeeeee;
}
.bask .img-box{
    width: 130px;
    height: 140px;
    line-height: 140px;
}
.bask .bask-info{
    width: 320px;
    height: 164px;
    background: #edf1f4;
    border-radius: 4px;
    padding: 10px;
    position: relative;
}
.bask-info::before{
    content: "";
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ECEFF1 transparent transparent;
    position: absolute;
    left: -10px;
    top: 35px;
}
.bask .title-box{
    border-bottom: 1px dashed #959595;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.bask .title-box h4{
    width:300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bask .bask-content{
    line-height: 22px;
    width: 300px;
    height: 145px;
    overflow: hidden;
}
.bask-side .bask-list{
    float: left;
    width: 435px;
    margin-left: 10px;
    border: 1px solid #eeeeee;
    padding: 10px 0px 10px 10px;
 }
.bask-side .bask-list ul li{
    float: left;
    width:160px;
    margin-right: 10px;
    padding: 0 20px;
}
.bask-side .bask-list ul li .img-box{
    height: 120px;
    width: 150px;
    margin: 0 auto;
    line-height: 120px;
}
.bask-side .bask-list ul li h5{
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}




