.car-t{
    color: #FFFFFF;
}
/*左边开始*/
/*最新揭晓开始*/
.announced-news{
    overflow: hidden;
    margin-bottom: 10px;
    background: #FFFFFF;
    width: 740px;
}
.announced-news .title h3,.recommended .title h3{
    font-size: 16px;
}
.announced-news ul{
    overflow: hidden;
    border: 1px solid #eeeeee;
    margin:0 10px 10px;
    padding: 10px 0 10px 15px;
}
.announced-news ul li{
    float: left;
    width: 136px;
    margin-right: 15px;
    padding: 10px;
    border: 2px solid #ffffff;
}
.announced-news ul li.active{
    border: 2px solid #e60012;
}

.announced-news .more,.recommended .more,.bask-wrapper .more{
    margin-top: 5px;
}
.news-count{
    text-align: center;
    overflow: hidden;
    padding: 2px;
    background:#e60012 ;
    color: #ffe400;
    font-size: 14px;
}
.news-count span{
    vertical-align: middle;
    display: inline-block;
}
/*公告*/
.notice{
    overflow: hidden;
    width: 230px;
    min-height: 285px;
    background: #FFFFFF;
    margin-bottom: 10px;
}
.notice  .title{
    background:url("../images/title_03.png")  no-repeat;
}
.sort-list .title,.buying-box .title{
    background:url("../images/tit-bg.png")  no-repeat;
}
.notice ul{
    overflow: hidden;
    padding: 10px;
    list-style-type: square;
}
.notice ul li{
    height: 22px;
    line-height: 22px;
    padding:5px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
}
.notice ul li i{
    height: 10px;
    display: inline-block;
    width: 10px;
    background: url("../images/icon-02.png") no-repeat -8px -377px;
}
.notice ul li a{
    font-size: 14px;
}
.notice .title h3{
    overflow: hidden;
    margin-right: 5px;
}
/*人气推荐开始*/
.recommended{
    overflow: hidden;
    background: #FFFFFF;
    padding:0 10px;
    width: 719px;
}

.editor {
    overflow: hidden;
    background: #FFFFFF;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.recommended ul, .editor ul{
    margin-right: -10px;
    overflow: hidden;
    background: #FFFFFF;
    padding: 10 0px;
    position: relative;
}

.editor ul{
    margin-left: 10px;
}

.recommended .price{
    text-align: right;
}
.recommended ul li, .editor ul li{
    float: left;
    width: 230px;
    overflow: hidden;
    position: relative;
    padding-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #d2d2d2;
}
.r-hover{
    width: 226px;
    height: 387px;
    z-index: 999;
    display: none;
    border: 2px solid #b5b5b5;
    position: absolute;
    top: 0;
    left: 0;
}
.editor .title {
    padding: 10px;
}
.second ul{
    overflow: hidden;
    background: #FFFFFF;
    margin:0 -10px 10px 0;
    padding:10px 0;
}
.second ul li{
    float: left;
    width: 230px;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    margin-left: 10px;
    border: 1px solid #d2d2d2;
}
.second .price{
    text-align: right;
}
/*正在乐拍*/
.buying-box{
    overflow: hidden;
    width: 230px;
    background: #FFFFFF;
    height: 427px;
}
.buying-box.box2{
    width: 270px;
}
.buying-box.box2 .buyListdiv{
    width: 270px;
}
.buying-box.box2 ul{
    width: 270px;
}
.buying-box.box2 ul li{
    padding: 4px 15px;
}
.buying-box.box2 ul li .info-side{
    width: 160px;
}
.worth{
    font-size: 14px;
    line-height: 33px;
    height: 33px;
}
.buying-box ul{
    width: 230px;
    padding: 10px 0;
}
.buying-box ul li{
    height:86px;
    border-bottom: 1px dashed #d2d2d2;
    padding:4px 5px;
}
.buying-box ul li .info-side{
    width: 145px;
    float: left;
    margin-left: 5px;
}
/*右边结束*/
/*晒单分享*/
.bask-wrapper{
    background: #FFFFFF;
}
.bask-side{
    overflow: hidden;
    padding: 0 10px 0px;
}
.bask-side .bask{
    width: 482px;
    padding: 10px;
    border: 1px solid #d2d2d2;
}
.bask .bask-info{
    width: 305px;
    background: #edf1f4;
    border-radius: 9px;
    padding: 10px;
    margin-left: 15px;
    position: relative;
}
.bask .bask-title{
    min-height: 24px;
    line-height: 24px;
    overflow: hidden;
    border-bottom: 1px solid #959595;
    padding-bottom: 7px;
    margin-bottom: 10px;
}
.bask .bask-title .title-md{
    width: 175px;
}
.bask .bask-title a:hover{
    text-decoration: underline;
}
.bask .bask-title .username{
    margin-top: 3px;
}
.bask-info::before{
    content: "";
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ECEFF1 transparent transparent;
    position: absolute;
    left: -10px;
    top: 35px;
}
.bask .title-box{
    border-bottom: 1px dashed #959595;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.bask .bask-content{
    line-height: 21px;
    width: 300px;
    height: 132px;
    overflow: hidden;
}
.bask-side .bask-list{
    overflow: hidden;
    float: right;
    width: 430px;
    padding: 10px 0px 10px 10px;
 }
.bask-side .bask-list ul li{
    float: left;
    overflow: hidden;
    margin-right: 15px;
}
.bask-list .title-02{
    max-height: 40px;
}
/*编辑推荐*/
.best-route{
   background: #ffffff;
}
.best-route ul{
    overflow: hidden;
    padding:0 10px 10px;
}
.best-route ul li{
    width: 210px;
    float: left;
    padding: 10px;
    margin-right: 10px;
    border:1px solid #D2D2D2;
}
.best-route ul li:last-child{
    margin-right: 0;
}
.best-route ul li .side{
    width: 210px;
    height: 210px;
    line-height: 210px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.best-route ul li .side img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.best-route ul li .tit{
    width: 100%;
    height: 40px;
    line-height: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
}
.best-route ul li .tit a:hover{
    color: #CE4D40;
}
