.breadcrumb {
    background: #EEEEEE;
    border: 1px solid #DDDDDD;
    margin-top: 10px;
}

.breadcrumb ol li {
    float: left;
    height: 36px;
    line-height: 36px;
    width: 150px;
    margin: 0 10px;
}
/*揭晓结果*/
.panel {

}

.panel .img-box {
    overflow: hidden;
    width: 400px;
    background: #EEEEEE;
}

.panel .state-column {
    width: 580px;
    overflow: hidden;
}

.state-heading {
    border: 1px solid #EEEEEE;
    padding: 10px 10px;
    overflow: hidden;
    line-height: 23px;
    margin-bottom: 10px;
}

.details {
    width: 100px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #EEEEEE;
    text-align: center;
    border-radius: 3px;
    background: #f7f7f7;
}

.result-box {
    overflow: hidden;
    border: 1px solid #EEEEEE;
    padding: 0 10px 10px 10px;
    margin-top: 10px;
}

.result-box .H {
    width: 22px;
    overflow: hidden;
    padding: 70px 40px;
    word-wrap: break-word;
    font-size: 24px;
    font-weight: bold;
}

.result-box .right-box {
    overflow: hidden;
    width: 450px;
}

.result-box .right-box h2 {
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    text-indent: 10px;
    border: 1px solid #EEEEEE;
    margin: 10px 0;
    background: #f7f7f7;
}

.right-box .result-info {
    border: 1px solid #EEEEEE;
    padding: 10px;
    overflow: hidden;
}

.right-box .result-info .img-box {
    width: 70px;
    height: 70px;
    line-height: 70px;
}

.right-box .result-info .info-side {
    width: 60%;
    height: 70px;
    margin-left: 10px;
}

.right-box .result-info .info-side span {
    display: block;
    margin-bottom: 5px;
}

.win-number {
    width: 426px;
    height: 100px;
    clear: both;
    border: 1px solid #EEEEEE;
}

.sub-nav {
    overflow: hidden;
    margin: 20px 0;
}

.sub-nav ul {
    border: 1px solid #EEEEEE;
    overflow: hidden;
}

.sub-nav ul li {
    border-right: 1px solid #EEEEEE;
    height: 38px;
    line-height: 38px;
    text-align: center;
    float: left;
    padding: 0 20px;
}

/*计算结果*/
.calculation-box {
    padding: 10px;
}

.calculation-box ol {
    overflow: hidden;
    padding: 10px;
    background: #EEEEEE;
}

.calculation-box ol li {
    height: 22px;
    line-height:22px;
}
.calculation-list {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.calculation-list table{
    width: 100%;
    border: 1px solid #EEEEEE;
    border-collapse: collapse;
    border-spacing: 0;
}
.calculation-list table thead tr th{
    background: #EEEEEE;
}
.calculation-list table thead tr th,.calculation-list table tbody tr td{
    padding: 8px;
    line-height: 1.38462;
    text-align: left;
    border: 1px solid #EEEEEE;
}
.calculation-list table tbody tr td h4{
    background: #f7f7f7;
    text-align: center;
    line-height: 30px;
    height: 30px;
    margin: -8px;
}

.calculation-list table tbody tr td s{
    margin-right: 20px;
}
 .calculation-results{
    overflow: hidden;
    background: #EEEEEE;
    padding:30px 30px 10px;
}
.calculation-results ul{
    overflow: hidden;
    margin-left: 20px;
    width: 90%;
}
.calculation-results ul li{
    line-height: 24px;
    overflow: hidden;
}
.calculation-results ul li span{
    display: block;
    height: 25px;
    width: 180px;
    line-height: 25px;
    text-align: center;
    background: #dbdbdb;
    margin: 0 auto;
}

/*产品列表*/
.product-inner{

}
.product-inner .left-sidebar{
    width: 75px;
    overflow: hidden;
    border: 1px solid #EEEEEE;
}
.product-inner .left-sidebar .header{
    width: 75px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #f1f1f1;
    border-bottom: 1px solid #EEEEEE;
}
.product-inner .left-sidebar li{
    width: 75px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: -1px;
}
.product-inner .sidebar{
   overflow: hidden;
    border: none;
}
.product-inner .sidebar dl{
    height: 317px;
    width: 145px;
    padding: 10px;
    border: 1px solid #EEEEEE;
}
.product-inner .sidebar dl dt{
    line-height: 26px;
    font-weight: bold;
}
.product-inner .sidebar dl dd{
    line-height: 26px;
}
.product-inner .sidebar .img-box{
    width: 435px;
    height: 337px;
    border: 1px solid #EEEEEE;
    margin-left: 15px;
}
.product-hot{
    width: 265px;
    height: 337px;
    border: 1px solid #EEEEEE;

}
.product-hot .buy{
    margin-top: 20px;
}
.product-hot .title-box{
    background: none;
}
.product-hot .img-box{
    height: 216px;
    line-height: 216px;
    padding: 0 20px;
    position: relative;
}

.sheng-yi{
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #DBDBDB;
    position: absolute;
    width:100%;
    top: 0px;
    left: 0;
}
.list_sort{
    margin-top: 10px;
    overflow: hidden;
    border: 1px solid #EEEEEE;
    padding: 5px 10px;
    background: #f7f7f7;
}
.product-list {
    overflow: hidden;
    margin-top: 10px;
    margin-right: -10px;
}
.product-box{
    overflow: hidden;
}
.product-box .price{
    text-align: right;
}
.product-list .product-box li{
    float: left;
    width: 235px;
    overflow: hidden;
    padding-bottom: 10px;
    margin:0 10px 10px 0;
    border: 1px solid #EEEEEE;
}
.product-list .product-box li .img-box{
    margin: 10px;
}
.product-list .product-box li .progress-side{
    margin: 0 10px;
}
/*今日热门*/
.date-hot {
    width: 978px;
    border: 1px solid #EEEEEE;
}
.date-hot .title{
}
.date-hot ul {
    overflow: hidden;
    padding: 10px 15px 10px 0px;
}
.date-hot ul li{
    float: left;
    width: 120px;
    margin-left: 50px;
    position: relative;
}
.date-hot ul li .img-box{
    height: 100px;
    line-height: 100px;
}
.date-hot ul li h5{
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.date-hot ul li .price{
    position: absolute;
    top: 5px;
    right: -30px;
    width:80px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #DDDDDD;
}
/*购物车列表*/
.pay-prompt{
    overflow: hidden;
    border: 1px solid #EEEEEE;
    background: #f1f1f1;
}
.pay-prompt li{
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
}
.cart-list{
    overflow: hidden;
    margin: 20px 0;
}
.cart-list table{
    border: 1px solid #EEEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.cart-list table thead tr th{
    border: 1px solid #DDDDDD;
    text-align: center;
    background: #f1f1f1;
    padding: 8px;
    line-height: 1.38462;
}
.cart-list table tbody tr td{
     border: 1px solid #EEEEEE;
     text-align: center;
     padding: 8px;
     line-height: 1.38462;
 }
.cart-list table tbody tr td .img-box{
    width: 60px;
    height: 60px;
    line-height: 60px;
}
.cart-list table tbody tr td .img-box .title{
    vertical-align: middle;
    width: 400px;
    overflow: hidden;
}
.cart-list .cart-footer{
    border: 1px solid #EEEEEE;
    overflow: hidden;
    margin-top: -1px;
    padding: 5px 10px;
    line-height: 28px;
}
.cart-list .cart-footer .btn{
    margin-left: 30px;
}
.cart-list .cart-footer label input{
    margin:6px 5px 0 0
}
.unveiled{
    overflow: hidden;
    margin-top: 40px;
}
.unveiled h4{
    height: 38px;
    background: #f1f1f1;
    line-height: 38px;
    text-indent: 10px;
}
.unveiled ul {
    overflow: hidden;
    margin-top: 30px;
}
.unveiled ul li .title{
    width: auto;
    height: 34px;
    padding: 8px;
    background: #EEEEEE;
}
.unveiled ul li .title .price{
    text-align: right;
}
.unveiled ul li{
    float: left;
    width: 235px;
    overflow: hidden;
    padding-bottom: 10px;
    margin: 0 10px 10px 0;
    border: 1px solid #EEE;
}
.unveiled ul li .img-box{
   margin:10px;
    position: relative;
}

/*商品详情*/
.product-column {
    width: 558px;
    overflow: hidden;
}
.product-column .price{
    margin: 10px auto;
}
.product-column .progress-side{
    width: 80%;
    margin: 0 auto;
}
.product-column .btn-menu{
    text-align: left;
}
.product-column .btn-group{
    text-align: left;
    margin-left: 74px;
}
.security-list{
    overflow: hidden;
    width: 77%;
    margin: 10px auto;
}
.security-list li{
    width: 110px;
    height: 33px;
    float: left;
    margin:0 10px;
    text-align: center;
    line-height: 33px;
    background: #f1f1f1;
    border: 1px solid #EEEEEE;
}
.new-buyer{
    overflow: hidden;
}
.new-buyer-header{
    overflow: hidden;
}
.new-buyer .new-buyer-header ul li{
    width: 185px;
    height: 34px;
    text-align: center;
    float: left;
    line-height: 33px;
    background: #f1f1f1;
    margin-right: -1px;
    border: 1px solid #DDDDDD;
}
.new-buyer  .new-buyer-body{
    overflow: hidden;
    border: 1px solid #DDDDDD;
    padding: 10px;
}
.new-buyer  .new-buyer-body table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}
.new-buyer  .new-buyer-body table tr td{
    vertical-align:middle;
    text-align: center;
}
.new-buyer  .new-buyer-body table tr td .img-box{
    width:30px;
    height: 30px;
    line-height:30px;
}
.previous-box{
    overflow: hidden;
    padding: 10px;
    border: 1px solid #EEEEEE;
}
.previous-box .img-box{
    width: 70px;
    height: 70px;
    line-height: 70px;
}
.previous-box .info-side {
    width: 60%;
    margin-left: 15px;
    text-align: left;
}
.previous-box .info-side span{
    display: block;
    margin-bottom: 5px;
}










