.f2{
    width: 200px;
}
/*登录*/
.logo-wrapper{
    width: 100%;
    overflow: hidden;
    background: #f5f7fa;
    padding-top: 30px;
    margin: 0 auto 20px;
    height: 70px;
}
.logo-wrapper .logo{
    width: 980px;
}
.login-bd{
    width: 920px;
    padding: 0px 30px 30px;
    background: #ffffff;
    overflow: hidden;
}
.login-hd{
    width: 920px;
    padding:20px 30px 10px;
    background: #ffffff;
    overflow: hidden;
    font-size: 14px;
}
.login-hd span{
    margin: 0 5px;
}
.left-side{
    width: 500px;
    height: 310px;
}
.login-form{
    width: 300px;
    min-height: 310px;
    border: 1px solid #d2d2d2;
    background: #FFFFFF;
}
.login-form .loginBar{
    overflow: hidden;
     margin:20px 20px 0 ;
 }
.login-form .title{
    background: #AF2812;
    color: #fff;
}
.login-form .loginBar li{
    width: 260px;
    overflow: hidden;
    margin-bottom:5px;
    position: relative;
}
.login-form .loginBar li input{
    position: relative;
    display:inline-block;
    padding: 0 0 0 28px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #d2d2d2;
    width: 230px;
 }
.login-form .loginBar li span{
    display: inline-block;
    line-height: 24px;
}
.btn-l{
    width: 125px;
    height: 25px;
    line-height: 25px;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    background: #af2812;
}
.btn-r{
    width: 125px;
    height: 25px;
    line-height: 25px;
    border-radius: 3px;
    text-align: center;
    color: #333;
    display: inline-block;
    background: #d9d9d9;
}
.register-box{
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #d2d2d2;
    margin-top: 15px;
}
.register-box .signup{
    font-size: 14px;
}
.register-box .registered{
    margin-top: 20px;
}
/*注册*/
.register{
    border: 1px  solid #d2d2d2;
    background: #FFFFFF;
}
.register .title{
    border-bottom: 1px  solid #d2d2d2;
    background: #f1f1f1;
}
.crumbs li{
    float: left;
    margin:0 5px;
}
.crumbs li s{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #606060;
    border-radius: 50%;
    padding: 0;
    display: block;
    margin: 0 5px;
    position: relative;
    overflow: visible;
    float: left;
}
.crumbs li a{
    display: block;
    float: left;
}
.crumbs li b{
    height: 20px;
    line-height: 20px;
    font-size: 18px;
}
.crumbs li.active s{
    background: #ffffff;
    border: 1px solid #af2812;
}
.crumbs li a{
    font-size: 14px;
}
.crumbs li.active a{
    color:#af2812 ;
}
.link{
    font-size: 14px;
}
.register-form{
    margin: 50px 0 0 100px;
    overflow: hidden;
}
.register-form ul li{
    margin-bottom: 15px;
    line-height: 26px;
}
 .register-form ul li label{
     text-align: right;
     height: 26px;
     line-height: 26px;
     width: 160px;
     display: inline-block;
 }
.register-form ul li input{
    border: 1px solid #d2d2d2;
    text-indent: 10px;
    height: 26px;
    line-height: 26px;
    width: 230px;
    display: inline-block;
    margin: 0 10px;
}
.register-form ul li input#form_submit{
    padding: 0;
    width: 130px;
    text-align: center;
    margin-left: 180px;
    border: none;

}
.register-help{
    width: 475px;
    height: 120px;
    margin: 20px 0 20px 201px;
    border: 1px solid #D2D2D2;
    padding: 10px;
}
.addnickname{
    margin: 30px auto;
}
.register-wrap{
    width: 600px;
    height: 300px;
    margin: 30px auto;
}
/*个人主页*/
.home-wrap{
    border: 1px solid #d2d2d2;
    width: 805px;
    background: #FFFFFF;
}
.left-sidebar{
    width: 160px;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #d2d2d2;
}
.left-sidebar .img-box{
    height: 160px;
    line-height: 160px;
    padding: 10px;
    margin: 0;
}
.left-sidebar .winner{
    width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.signature{
    background: #ffffff;
    min-height: 36px;
    line-height: 18px;
    overflow: hidden;
    font-size: 12px;
    border: 1px solid #d2d2d2;
    padding: 5px;
    margin-top: 5px;
}
.signature2{
    background: #ffffff;
    max-height: 40px;
    line-height: 18px;
    overflow: hidden;
    font-size: 12px;
}
.main{
    width: 780px;
    overflow: hidden;
}
.subNav{
    height: 30px;
    overflow: hidden;
    border: 1px solid #d2d2d2;
}
.subNav li{
    height: 30px;
    width: 193px;
    float: left;
    margin-left: -1px;
    line-height: 30px;
    text-align: center;
    border-left: 1px solid #d2d2d2;
    overflow: hidden;
}
.home{
    overflow: hidden;
    padding:10px;
}

.buy-record{
    margin-left: 15px;
}
.home-wrap .home-c{
    overflow: hidden;
}
.home-wrap .home-c dl{
    overflow: hidden;
}
.home-wrap .home-c dl dd{
    width: 218px;
    padding: 10px;
    border: 1px solid #d2d2d2;
    float: left;
    margin:0 0 15px 15px;
}
.home-wrap .home-c dl dd .img-box{
    width: 218px;
    height: 200px;
    text-align: center;
}
.home-mu{
    overflow: hidden;
    padding:0 10px 10px;
}
.home-c{
    overflow: hidden;
    width: 100%;
    margin-bottom: 15px;
}
.home-c .title-box{
    background: none;
}
.home-c dl .right-box{
    width: 592px;
}
.home-c .right-box{
    overflow: hidden;
    padding: 10px;
    border: 1px solid #d2d2d2;
}
.home-c dl dd{
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 316px;
}
.home-c dl dd .img-box{
    width: 130px;
    height: 110px;
    position: relative;
}
.home-c .bask-menu{
    overflow: hidden;
    padding: 0 10px;
}
.home-c .bask-menu dd{
    overflow: hidden;
    padding: 10px 0;
    margin-bottom: 10px;
}
.home-c .bask-menu .info-side{
    margin-left: 15px;
    width: 600px;
}
.home-c .bask-menu .info-side .text-content{
    height: 38px;
}
/*个人中心*/
.left-nav{
    overflow: hidden;
    border-bottom: 1px #d2d2d2 solid;
    background: #f1f1f1;
}
.left-nav li{
    line-height: 35px;
    margin-bottom: -1px;
    text-indent: 20px;
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid #ffffff;
}
.icon-arrow{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 4px;
    right: 15px;
    background: url("../images/icon-02.png") no-repeat -184px 0;
}
.icon-arrow-down{
    background: url("../images/icon-02.png") no-repeat -212px 0;
}
.left-nav li a{
    display: block;
    color: #af2812;
    font-weight: bold;
}
.dropdown-menu{
    background: #ffffff;
    overflow: hidden;
    display: none;
}
.dropdown-menu li{
    border: none;
    text-indent: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.dropdown-menu li a{
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}
.dropdown-menu li a.active{
    color: #af2812;
}
.center-main {
    width: 735px;
    overflow: hidden;
    margin: 0 10px;
    border: 1px solid #d2d2d2;
    background: #FFFFFF;
    min-height: 450px;
    padding: 20px;
}
.center-main .center-info{
    width: 520px;
    overflow: hidden;
    margin-bottom: 20px;
}
.center-main .center-info li{
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
}
.center-main .center-info li .edit{
    width: 85px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    margin-left: 20px;
}

.buy-menu {
    padding:0 15px;
    overflow: hidden;
}
.buy-menu li{
    min-height:30px;
    line-height: 30px;
    overflow: hidden;
}
.buy-menu li.right-box{
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px;
    margin-left:125px;
    position: relative;
    border: 1px solid #d2d2d2;
}
.home-wrap .buy-menu li{
    width: 600px;
    overflow: hidden;
    margin:15px 0 15px 60px;
    border: 1px solid #d2d2d2;
    padding: 10px;
}
.buy-menu dt{
    min-height: 30px;
    line-height: 30px;
    width: 150px;
}
.buy-menu dd.right-box {
    width: 557px;
    padding:20px;
    margin:-30px 0 20px  160px ;
    overflow: hidden;
    border: 1px solid #d2d2d2;
}
 .buy-menu li.right-box .buy-record{
    width: 70%;
}
.buy-menu dd.right-box .buy-record{
    width: 75%;
}
.bask-menu{
   overflow: hidden;
    padding: 15px;
}
.bask-menu dd{
    overflow: hidden;
    margin-bottom: 10px;
}
.bask-menu dd .info-side{
    margin-left:20px;
}
.icon-jx{
    width:50px ;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: url("../images/icon-02.png") no-repeat -250px -318px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.right-box .price{
    padding: 5px 0;
}
.content-inner{
    width: 763px;
    float: right;
    overflow: hidden;
    padding:15px 20px 10px;
    border: 1px solid #d2d2d2;
    background: #FFFFFF;
}
.home-navbar{
    overflow: hidden;
    margin-bottom: 15px;
}
.home-navbar ul li{
    width: 199px;
    float: left;
    font-size: 14px;
    border-right: 1px solid white;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    text-align: center;
    background: #EEE;
}
.home-navbar ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.home-navbar ul li.active{
    background: #ffffff;
}
/*获得的商品*/
.acquire-box,.record-box,show-box,.message-box{
    overflow: hidden;
}
.record,.already-show{
    overflow: hidden;
}
.remind{
    height: 28px;
    background: #f1f1f1;
    border: 1px solid #d2d2d2;
    line-height: 28px;
    text-indent: 15px;
}
.select-box,.select{
    height:33px;
    margin: 10px 0;
    line-height: 33px;
    font-size: 14px;
}
.select-box label{
    background: #EEEEEE;
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-right: 10px;
    color: #004eff;
}
.select .select-title{
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-right: 10px;
}
.time-choose{
    height:30px;
    vertical-align: middle;
    display: inline-block;
    zoom:1;
    *display:inline;
}

.history-content .time-choose{
    display: block;
}
.time-choose li{
    height: 33px;
    line-height: 33px;
    overflow: hidden;
    float: left;
}
.time-choose li .hasDatepicker{
    margin: 0px 10px 0px 0;
}
.time-choose select{
    width:120px ;
    height: 31px;
    border: 1px solid #d2d2d2;
}
.select input,.select button{
    height: 31px;
    border: 1px solid #d2d2d2;
    display: inline-block;
    line-height: 31px;
}
.select input{
    width: 300px;
    text-indent: 10px;
}
.select button{
    width: 80px;
    background: #D96D66;
    color: #ffffff;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}
.show-form,.not-form{
    margin-top: 20px;
    border: 1px solid #d2d2d2;
    padding: 10px 0 0 0;
    width: 746px;
    position: relative;
}
.show-form li{
    margin:0 10px 10px 20px;
}
.show-form li label{
    width: 80px;
    text-align: right;
    height: 30px;
    display: inline-block;
}
.show-form li label.body-label{
    vertical-align: top;
}
.show-form li label.error{
    color: red;
}
.show-form li input{
    width:350px;
    height: 28px;
    border: 1px solid #d2d2d2;
    text-indent: 10px;
    margin: 0 10px;
}
.show-form li textarea{
    border: 1px solid #d2d2d2;
    text-indent: 10px;
    margin: 0 10px;
    width: 500px;
}
.show-form li button{
    vertical-align: top;
}
.show-form li .tj{
    margin-left:90px;
}
.show-form li dl{
    margin-left: 10px;
    float: left;
}
.show-form li dl dd{
    overflow: hidden;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-right: 10px;
    overflow: hidden;
    border:4px solid #0093D0;
    position: relative;
    float: left;

}
.destItem{
    display: inline-block;
    width: 540px;
    overflow: hidden;
}
.add-images{
    float: left;
    width: 70px;
    height: 70px;
    border:4px solid #d2d2d2;
    background: url("../images/bg.png") no-repeat -138px -650px;
}
.add-images:hover{
    border:4px solid #e7594b;
    background: url("../images/bg.png") no-repeat -28px -650px;
}
.show-form li .add-images2{
    width: 70px;
    height: 70px;
    opacity:0;
    display: block;
    cursor: pointer;
}
.delete{
    width: 18px;
    height: 22px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: url("../images/icon.png") no-repeat -38px -116px;
}
.show-form li dl dd.img-box img{
    max-width: 70px;
    height: auto;
    vertical-align: middle;
}
.account-box{
    overflow: hidden;
}
.account-box .remind {
    overflow: hidden;
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
}
.btn-pay{
    height: 30px;
    line-height: 30px;
    width: 60px;
    text-align: center;
    background:#af2812 ;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    text-indent: 0;
    margin:0 10px;
}
.btn-pay:hover{
    background:#D96D66 ;
}
.balance {
    display: inline-block;
}
.balance  b{
    color: #f60;
    font-size: 13px;
}
/*帐户管理*/
.prepaid-box{
    overflow: hidden;
}
.prepaid-box .pay-money{
    overflow: hidden;
    margin-bottom: 10px;
}
.prepaid-box .pay-money dt{
    clear: both;
    height: 24px;
    line-height: 24px;
    margin-bottom: 10px;
}
.prepaid-box .pay-money dd{
    float: left;
    overflow: hidden;
    margin-right: 30px;
}
.prepaid-box .pay-money dd label{
    display: inline-block;
    line-height: 24px;
    border: 1px solid #d2d2d2;
    background: #f1f1f1;
    padding: 5px 15px;
    cursor: pointer;
}
.prepaid-box .pay-money dd .else{
    display: inline-block;
    line-height: 36px;
    height:36px;
}
.prepaid-box .pay-money dd .else input{
    width: 90px;
    height: 30px;
    border: 1px solid #d2d2d2;
    margin: 0 8px;
    text-indent:1em;
}
/*个人设置*/
.set-wrap{
    width: 765px;
    overflow: hidden;
    border: 1px solid #EEEEEE;
    border-top:none;
    float: right;
    background: #FFFFFF;
    min-height: 450px;
    padding:15px 20px;
}
.navbar-inner{
    overflow: hidden;
    margin-bottom: 15px;
}
.navbar-inner ul li{
    width: 190px;
    float: left;
    font-size: 14px;
    border-right: 1px solid #ffffff;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    text-align: center;
    background: #eeeeee;
}
.navbar-inner ul li.active a{
    color: #af2812;
}
.navbar-inner ul li a{
    display:block;
}
/*表单*/
.edit-data{
    padding:15px 20px;
    overflow: hidden;
}
.edit-data li{
    margin-bottom: 15px;
    position: relative;
}
.edit-data li label{
    display: inline-block;
    text-align: right;
    width: 120px;
    font-size: 14px;
}
.edit-data li label.align{
    vertical-align: top;
}
.edit-data li input{
    display: inline-block;
    width: 230px;
    font-size: 14px;
    border: 1px solid #d2d2d2;
    padding: 8px;
}

.edit-data li span{
    display: inline-block;
    min-width:18px;
    padding: 5px 0;
    height: 17px;
    vertical-align: middle;
}
.edit-data li span.align{
    vertical-align: top;
}
.edit-data li textarea{
    border: 1px solid #d2d2d2;
    padding: 5px;
    width: 428px;
    display: inline-block;
}
.edit-data li select{
    display: inline-block;
    width: 110px;
    font-size: 14px;
    border: 1px solid #d2d2d2;
    padding:5px;
}
.edit-data li b{
    margin: 0 10px;
    font-size: 14px;
}
.edit-data li #datas{
    display: inline-block;
}
.edit-data li #datas s{
    margin: 0 10px;
    font-size: 14px;
}
.edit-data li .upload-photo{
    border: 1px solid #d2d2d2;
    width:300px ;
    height: 300px;
    margin-left: 120px;
    text-align: center;
}
.edit-data li .upload-photo img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.edit-data li .btn{
    text-align: center;
    width: 80px;
    margin-left: 123px;
    padding: 0;
}
.edit-data li .file-img{
    width: 159px;
    height: 41px;
    margin-left: 120px;
    overflow: hidden;
    background: url("../images/icon.png") no-repeat 0 -318px;
}
.edit-data li .file-img input{
    cursor: pointer;
    opacity: 0;
}
.address{
    border: 1px solid #d2d2d2;
    margin-top:20px;
    width: 705px;
    padding: 10px;
    position: relative;
}
.address .icon-upward{
    position: absolute;
    left: 40px;
}
.address li h4{
    font-weight: bold;
    color: #333333;
    font-size: 14px;
}
.show-form li .file-img{
    width: 159px;
    height: 41px;
    display: inline-block;
    overflow: hidden;
    background: url("../images/icon.png") no-repeat 0 -318px;
}
.show-form li .file-img input{
    cursor: pointer;
    opacity: 0;
    width: 150px;
    height: 41px;
}
/*晒单分享*/
.share-list{
    overflow: hidden;
    margin-right: -10px;
}
.share-list li{
    float: left;
    margin:0 10px 10px 0;
    overflow: hidden;
}
.product-item{
    width: 235px;
    overflow: hidden;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background: #FFFFFF;
}
.product-item .item-head{
    overflow: hidden;
    padding: 0 10px;
    margin-bottom: 10px;
}
.product-item .item-footer{
    padding:10px 10px 0;
    overflow: hidden;
    background: #F1F1F1;
}
.share-list .content-md{
    border: 1px dashed #4c4c4c;
}
/*分享详细内容*/
.title-bar{
    text-align: center;
    overflow: hidden;
    padding: 10px 0;
}
.title-bar h2{
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}
.title-bar .datetime{
    text-align: center;
}
.pane-hd{
    overflow: hidden;
}
.pane-hd .img-box{
    margin-right: 10px;
}
.pane-hd li{
    width: 332px;
    float: left;
    height: 82px;
    border: 1px solid #d2d2d2;
    border-right: none;
    margin-right: -1px;
    padding: 10px;
}
.pane-bd{
    overflow: hidden;
    padding: 10px;
}
.pane-bd p{
    text-indent: 2em;
    font-size: 14px;
    margin-bottom: 10px;
}
.pane-bd img{
    max-width: 685px;
    height: auto;
    vertical-align: middle;
}
.before{
    overflow: hidden;
}
.before li,.news li{
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #d2d2d2;
}
.before li .head-img{
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-right: 10px;
}
.news{
    overflow: hidden;
    margin-bottom: -11px;
}
 .images-list dd{
    float: left;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
}
 .images-list dd img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
/*评论*/
.comment-panel{
    overflow: hidden;
    margin-top: 20px;
}
.comment-footer{
    overflow: hidden;
    height: 34px;
    padding: 5px;
    line-height: 40px;
    border: 1px solid #d2d2d2;
}

.comment-footer .btn{
    margin-left: 10px;
    line-height: 16px;
}
.comment-footer .expression{
   margin-left: 15px;
}
.comment-count{
    color: #666;
}
.comment-count b{
    color: #D9534F;
    margin: 0 5px;
}
.comment-list{
    overflow: hidden;
    margin-top: 15px;
    width: 716px;
}
.comment-list dt{
    height:36px;
    border-bottom:1px solid #d2d2d2;
    margin-bottom: 15px;
}
.comment-list dt h4{
    height:33px;
    line-height: 33px;
    width: 70px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 3px solid #D9534F;
}
.comment-list dd{
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom:1px dashed #d2d2d2;
    padding-bottom: 10px;
}
.comment-list .info-side{
    width: 90%;
}
.comment-box {
    width: 718px;
    overflow: hidden;
}
.comment-box textarea{
    display: block;
    border: 1px solid #d2d2d2;
    width: 716px;
}
.comment-text{
    font-size: 14px;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
}
/*帮助中心*/
.help-side{
    width: 180px;
    overflow: hidden;
    background: white;
    border: 1px solid #d2d2d2;
}
.help-side h2{
    border-bottom: 1px solid #d2d2d2;
    text-align: center;
    background: #af2812;
    color: #FFFFFF;
}
.help-center{
    overflow: hidden;
    text-indent: 10px;
}
.help-center dt{
    text-align: center;
    background: #f1f1f1;
    height: 33px;
    color: #af2812;
    line-height: 33px;
    font-weight: 700;
}
.help-center dd{
    text-align: right;
    text-indent: 20px;
    height: 33px;
    padding-right: 60px;
    line-height: 33px;
    cursor: pointer;
}
.help-center dd:hover{
    background: #af2812;
    color: #FFFFFF;
}
.help-center dd.active{
    background: #af2812;
    color: #FFFFFF;
}

.help-main{
    width: 745px;
    float: right;
    overflow: hidden;
    border: 1px solid #d2d2d2;
    padding:0 20px 15px;
    background: #FFFFFF;
}
.help-main h2{
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px  solid #D2D2D2;
    margin-bottom: 20px;
}
.help-content{
    overflow: hidden;
    margin-bottom: 20px;
}
.help-content  p{
    text-indent: 2em;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 5px;
}
/*历史记录*/
.history .title{
    padding: 6px;
    font-size: 16px;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 10px;
}
.history-content{
    padding:0 10px 10px;
    background: #fff;
    overflow: hidden;
}
.history-content .search{
    height: 36px;
    margin-bottom: 10px;
}
.error-box{
    overflow: hidden;
    width: 510px;
    height: 400px;
    margin: 100px auto 0;
}
.error-box p a{
    color: #4CAFFF;
    font-size: 13px;
}

.buyListdiv{
    width: 230px;
    height:390px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.buyList li{
        line-height:29px;

}

