.f2{
    width: 200px;
}
/*登录*/
.logo-wrapper{
    width: 100%;
    overflow: hidden;
    background: #f5f7fa;
    padding-top: 30px;
    margin: 0 auto 20px;
    height: 70px;
}
.logo-wrapper .logo{
    width: 980px;
}
.login-bd{
    width: 920px;
    padding: 0px 30px 30px;
    background: #ffffff;
    overflow: hidden;
}
.login-hd{
    width: 920px;
    padding:20px 30px 10px;
    background: #ffffff;
    overflow: hidden;
    font-size: 14px;
}
.login-hd span{
    margin: 0 5px;
}
.left-side{
    width:590px;
    height: 350px;
    overflow: hidden;
}
.loginForm{
    width: 300px;
    min-height: 310px;
    border: 1px solid #d2d2d2;
    background: #FFFFFF;
}
.loginForm .loginBar{
    overflow: hidden;
     margin:20px 20px 0 ;
 }
.loginForm .title{
    width: 282px;
    width: 282px;
    background: #AF2812;
    color: #fff;
}
.loginForm .loginBar li{
    width: 260px;
    overflow: hidden;
    line-height:20px;
}
.loginForm .loginBar li .item{
    height: 67px;
    overflow: hidden;
    position: relative;
}
.loginForm .loginBar li input{
    display:inline-block;
    padding:8px 0 8px 28px;
    height: 18px;
    border: 1px solid #d2d2d2;
    width: 228px;
 }
.loginForm .loginBar li span{
    height: 30px;
    line-height: 30px;
}
.btn-l{
    display: block;
    margin: 0 auto;
    width: 125px;
    height: 25px;
    line-height: 25px;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    background: #af2812;
}
.btn-r{
    display: block;
    margin: 10px auto 0;
    width: 125px;
    height: 25px;
    line-height: 25px;
    border-radius: 3px;
    text-align: center;
    color: #333;
    background: #d9d9d9;
}
.register-box{
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #d2d2d2;
    margin-top: 15px;
}
.register-box .signup{
    font-size: 14px;
}
.register-box .registered{
    margin-top: 20px;
}
/*注册*/
.register-warp{
    width: 978px;
    min-height: 350px;
    border: 1px  solid #d2d2d2;
    background: #FFFFFF;
    overflow: hidden;
    margin: 0 auto;
}
.register-warp .title{
    font-size: 14px;
    border-bottom: 1px solid #d2d2d2;
    background: #f1f1f1;
}
.crumbs li{
    float: left;
    margin:0 5px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
}
.crumbs li s{
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px solid #606060;
    border-radius: 50%;
    display:block;
    margin: 0 5px;
    position: relative;
    float: left;
    vertical-align: middle;
}
.crumbs li.active s{
    background: #ffffff;
    border: 1px solid #af2812;
}
.crumbs li.active{
    color:#af2812 ;
}
.link{
    font-size: 14px;
}
.registerForm{
    margin: 30px 0 0 100px;
    overflow: hidden;
    width: 600px;
}
.registerForm li,.succeedForm li{
    overflow: hidden;
    margin-bottom: 15px;
    line-height: 26px;
    font-size: 14px;
}
 .registerForm li label,.succeedForm li label{
     height: 33px;
     line-height: 33px;
     width: 140px;
     display: inline-block;
     float: left;
 }
.registerForm li span,.succeedForm li span{
    height: 33px;
    line-height: 33px;
    display: inline-block;
    float: left;
}
.registerForm li input.txt,.succeedForm li input.txt{
    width: 230px;
    padding: 8px 10px;
    border: 1px solid #d2d2d2;
    display: inline-block;
    margin: 0 10px;
    float: left;
}
.registerForm li .btn,.succeedForm li .btn{
    margin-left: 150px;
    width: 130px;
}
.protocol{
    width: 600px;
    height: 120px;
    line-height: 22px;
    margin: 0 0 30px 190px;
    border: 1px solid #D2D2D2;
    padding: 10px;
    font-size: 14px;
    color: #666;
    overflow-y:auto;
}
.succeedForm{
    width: 510px;
    height: 250px;
    overflow: hidden;
    margin: 30px auto;
}
/*个人主页*/
.home-wrap{
    width: 805px;
    background: #FFFFFF;
}
.left-sidebar{
    width: 160px;
    overflow: hidden;
    background: #FFFFFF;
}
.left-sidebar .img-box{
    height: 140px;
    line-height: 140px;
    padding: 10px;
    margin: 0;
}
.left-sidebar .winner{
    width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.signature{
    background: #ffffff;
    min-height: 36px;
    line-height: 18px;
    overflow: hidden;
    font-size: 12px;
    border: 1px solid #d2d2d2;
    padding: 5px;
    margin-top: 5px;
}
.signature2{
    /*max-width: 130px;*/
    background: #ffffff;
    height: 26px;
    line-height:26px;
    overflow: hidden;
    font-size: 12px;
}
.main{
    width: 780px;
    overflow: hidden;
}
.subNav{
    height: 30px;
    overflow: hidden;
    border: 1px solid #d2d2d2;
}
.subNav li{
    height: 30px;
    width: 193px;
    float: left;
    margin-left: -1px;
    line-height: 30px;
    text-align: center;
    border-left: 1px solid #d2d2d2;
    overflow: hidden;
}
.home{
    overflow: hidden;
    padding:0 20px 20px;
}
.wealth{
    margin-right: 20px;
}
.buy-record{
    margin-left: 15px;
}
.home-wrap .home-c{
    overflow: hidden;
}
.home-wrap .home-c dl{
    overflow: hidden;
}
.home-wrap .home-c dl dd{
    width: 226px;
    padding: 10px;
    border: 1px solid #d2d2d2;
    float: left;
    margin:0 0 15px 15px;
}
.home-wrap .home-c dl dd .img-box{
    width: 218px;
    height: 200px;
    text-align: center;
}
.home-wrap .info-side {
    width: 81%;
}
.home-mu{
    overflow: hidden;
    padding:0 10px 10px;
}
.home-c{
    overflow: hidden;
    width: 100%;
    margin-bottom: 15px;
}
.home-c .title-box{
    background: none;
}
.home-c dl .right-box{
    width: 592px;
}
.home-c .right-box{
    overflow: hidden;
    padding: 10px;
    border: 1px solid #d2d2d2;
}
.home-c dl dd{
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 316px;
}
.home-c dl dd .img-box{
    width: 130px;
    height: 110px;
    position: relative;
}
.home-c .bask-menu{
    overflow: hidden;
    padding: 0 10px;
}
.home-c .bask-menu dd{
    overflow: hidden;
    padding: 10px 0;
    margin-bottom: 10px;
}
.home-c .bask-menu .info-side{
    margin-left: 15px;
    width: 600px;
}
.home-c .bask-menu .info-side .text-content{
    height: 38px;
}
/*个人中心*/
.left-nav{
    overflow: hidden;
    background: #f1f1f1;
}
.left-nav li{
    margin-bottom: -1px;
    text-indent: 20px;
    font-size: 14px;
    border-bottom: 1px solid #D2D2D2;
}
.left-nav .icon-arrow{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url("../images/icon-02.png") no-repeat -184px 0;
}
.left-nav .icon-arrow-down{
    background: url("../images/icon-02.png") no-repeat -212px 0;
}
.left-nav li a{
    height: 38px;
    line-height: 38px;
    display: block;
    font-weight: bold;
    position: relative;
}
.left-nav li a.active{
    color: #af2812;
}
.left-nav li a.active s{
    width: 60px;
    display: inline-block;
    height:2px;
    background:#af2812 ;
    position: absolute;
    left: 20px;
    bottom: 0;
}
.dropdown-menu{
    background: #ffffff;
    overflow: hidden;
    display: block;
}
.dropdown-menu li{
    text-indent: 30px;
    font-size: 12px;
    border: 0;
}
.dropdown-menu li a{
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    display: block;
    font-weight: normal;
    color: #333333;
}
.dropdown-menu li a.active{
    color: #af2812;
}
.center-main {
    width: 765px;
    overflow: hidden;
    margin-left: 10px;
    background: #FFFFFF;
    min-height: 450px;
    padding: 20px;
}
.center-main .center-info{
    width: 520px;
    overflow: hidden;
    margin-bottom: 10px;
}
.center-main .center-info li{
    width: 100%;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
}
.center-main .center-info li .edit{
    width: 85px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    margin-left: 20px;
}

.buy-menu {
    overflow: hidden;
}
.buy-menu li{
    min-height:30px;
    line-height: 30px;
    overflow: hidden;
}
.buy-menu li.right-box{
    overflow: hidden;
    padding: 10px;
    margin-left:125px;
    position: relative;
    border: 1px solid #d2d2d2;
}
.home-wrap .buy-menu li{
    width: 600px;
    overflow: hidden;
    margin:15px 0 15px 60px;
    border: 1px solid #d2d2d2;
    padding: 10px;
}
.buy-menu dt{
    min-height: 30px;
    line-height: 30px;
    width: 150px;
}
.buy-menu dd.right-box {
    padding:10px;
    margin:0px 0 10px  160px ;
    overflow: hidden;
    border: 1px solid #d2d2d2;
}
.buy-menu dd .img-box  {
    margin-bottom: 0;
}
.buy-menu li .img-box  {
    margin-bottom: 0;
}
.buy-menu li.right-box .buy-record{
    width: 77%;
}
.buy-menu li.right-box .buy-record .progress-side{
    padding: 0;
}
.buy-menu dd.right-box .buy-record{
    width: 75%;
}
.bask-menu{
   overflow: hidden;
    padding: 15px;
}
.bask-menu dd{
    overflow: hidden;
    margin-bottom: 10px;
}
.bask-menu dd .info-side{
    margin-left:20px;
}
.icon-jx{
    width:50px ;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: url("../images/icon-02.png") no-repeat -250px -318px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.right-box .price{
    padding: 5px 0;
}
.content-inner{
    width: 763px;
    float: right;
    overflow: hidden;
    padding:15px 20px 20px;
    border: 1px solid #d2d2d2;
    background: #FFFFFF;
    min-height: 625px;
}
.content-inner .pagination {
    margin-top: 20px;
}

.home-navbar{
    overflow: hidden;
    margin-bottom: 20px;
}
.home-navbar ul li{
    width: 200px;
    float: left;
    font-size: 14px;
    border-right: 1px solid white;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    text-align: center;
    background: #EEE;
}
.home-navbar ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.home-navbar ul li.active{
    background: #ffffff;
}
/*获得的商品*/
.acquire-box,.record-box,show-box,.message-box{
    overflow: hidden;
}
.record,.already-show{
    overflow: hidden;
}
.remind{
    height: 28px;
    background: #f1f1f1;
    line-height: 28px;
    text-indent: 15px;
}
.select-box,.select{
    height:33px;
    margin: 10px 0;
    line-height: 33px;
    font-size: 14px;
}
.select-box label{
    background: #EEEEEE;
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-right: 10px;
    color: #004eff;
}
.select .select-title{
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-right: 10px;
}
.time-choose{
    height:33px;
    vertical-align: middle;
    display: inline-block;
    zoom:1;
    *display:inline;
    color:#757575;
}
.account-box .table-striped thead{
    color: #757575;
}
.account-box .table-striped tbody{
    color: #848484;
}
.history-content .time-choose{
    display: block;
}
.content-inner .message-box table thead{
    color: #757575;
}
.content-inner .message-box table tbody{
    color: #848484;
}
.wrapper .set-wrap .lead{
    color: #666;
}
.wrapper .set-wrap .edit-data{
    color: #757575;
}
.time-choose li{
    height: 33px;
    line-height: 33px;
    overflow: hidden;
    float: left;
}
.time-choose li .hasDatepicker{
    margin: 0px 10px 0px 0;
}
.time-choose select{
    width:120px ;
    height: 31px;
    border: 1px solid #d2d2d2;
}
/*.select button{
    height: 31px;
    border: 1px solid #d2d2d2;
    display: inline-block;
    line-height: 31px;
}*/
.select input{
    width: 333px;
    display: inline-block;
    border: 1px solid #d2d2d2;
    height: 18px;
    padding: 6px 0 6px 10px;
    margin-right: 10px;
}
.select button{
    width: 60px;
    height: 30px;
    border-radius: 3px;
    background: #af2812;
    color: #FFFFFF;
    cursor: pointer;
}
.show-box{
    overflow: hidden;
}
.show-box .text-content{
    border: 0;
    width: 450px;
}

.show-box .remind{
    margin-bottom: 20px;
    color: #848484;
}
.showForm,.not-form{
    margin-top: 20px;
    border: 1px solid #d2d2d2;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.destItem{
    width: 442px;
    max-height: 300px;
    overflow: hidden;
    float: left;
    margin-left: 120px;
    background: #f4f4f4;
}
.destItem .title{
    border-bottom: 1px solid #DDDDDD;
}
.destItem .title h4{
    width: 200px;
    height: 30px;
    line-height: 30px;
}
.add-images{
    float: right;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #af2812;
    color: #fff;
    position: relative;
}
.add-images2{
    width: 100px;
    height: 30px;
    opacity:0;
    filter:alpha(opacity:0);
    display: block;
    z-index: 999;
    cursor: pointer;
    background: #0000ff;
    position: absolute;
    left: 0;
    top: 0;
}
.postimg{
    overflow: hidden;
    padding: 10px 0 0 10px;
}
.postimg dd{
    width: 74px;
    height: 74px;
    float: left;
    border: 1px solid #D2D2D2;
    overflow: hidden;
    text-align: center;
    margin: 0 10px 10px 0;
}
.postimg dd img{
    max-width: 100%;
    height:auto;
    vertical-align: middle;
}
.delete{
    width: 18px;
    height: 22px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: url("../images/icon.png") no-repeat -38px -116px;
}
.account-box{
    overflow: hidden;
}
.account-box .remind {
    overflow: hidden;
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
}
.btn-pay{
    height: 25px;
    line-height: 25px;
    width: 80px;
    text-align: center;
    background:#af2812 ;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    text-indent: 0;
    margin:0 10px;
}
.btn-pay:hover{
    background:#D96D66 ;
}
.balance {
    font-size: 14px;
    color: #848484;
}
/*个人设置*/
.set-wrap{
    width: 768px;
    overflow: hidden;
    border: 1px solid #EEEEEE;
    border-top:none;
    float: right;
    background: #FFFFFF;
    min-height: 500px;
    padding:15px 20px;
}
.navbar-inner{
    overflow: hidden;
    margin-bottom: 15px;
}
.navbar-inner ul li{
    width: 190px;
    float: left;
    font-size: 14px;
    border-right: 1px solid #ffffff;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    text-align: center;
    background: #eeeeee;
}
.navbar-inner ul li.active a{
    color: #af2812;
}
.navbar-inner ul li a{
    display:block;
}
/*手机验证*/
.verify-wrap{
    width: 768px;
    min-height: 400px;
    float: left;
    margin-left: 10px;
    padding:15px 20px 20px;
    background: #fff;
}
.verify-wrap .tit-bar{
    overflow: hidden;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 10px;
    margin-bottom:20px;
}

.verify-wrap  .tit-bar h4{
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    float: left;
}
.verify-wrap .prompt-bar{
    padding: 8px 0 7px 30px;
    overflow: hidden;
    color: #af2812;
    background: #fff;
    border: #af2812 1px solid;
    position: relative;
    margin-bottom: 20px;
}
.prompt-bar .icon-plaint{
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../images/icon-02.png") no-repeat 0 -1px;
    top: 5px;
    left: 5px;
}
.verifyForm{
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
    font-size: 14px;
}
.verifyForm label{
    height: 28px;
    line-height: 28px;
    width: 140px;
    text-align: right;
}
.verifyForm .phone_num{
    height: 28px;
    line-height: 28px;
}
.verifyForm .txt{
    padding:6px 0 6px 10px;
    width: 180px;
    border: 1px solid #D2D2D2;
}
.verifyForm .btn{
    margin-left: 100px;
}
.verification{
    display: inline-block;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
}
.verifyForm .verification{
    margin-left: 10px;
}
.error{
    position: relative;
    padding-left: 20px;
}
label.error{
    position: relative;
    padding-left: 20px;
    color: red;
}
.error:before{
    content:"";
    width: 20px;
    height: 20px;
    background: url("../images/icon-02.png") no-repeat -55px 0px;
    position: absolute;
    top: 15%;
    left: 0;
}
.sure{
    position: relative;
    padding-left: 20px;
}
.sure:before{
    content:"";
    width: 20px;
    height: 20px;
    background :url("../images/icon-02.png") no-repeat -0px -99px;
    position: absolute;
    top: 15%;
    left: 0;
}
/*表单*/
.edit-data{
    overflow: hidden;
    padding: 20px 15px 10px;
}
.edit-data li{
    overflow: hidden;
    margin-bottom: 15px;
}
.edit-data li:last-child{
    margin-bottom: 0px;
}
.edit-data li label{
    height: 33px;
    line-height: 33px;
    display: inline-block;
    text-align: right;
    width: 150px;
    font-size: 14px;
    float: left;
}
.edit-data li label.error{
    height: 33px;
    line-height: 33px;
    display: inline-block;
    text-align: left;
    width: 150px;
    font-size: 14px;
    float: left;
}
.edit-data li button.btn{
    margin-left: 120px;
}
.edit-data li input.txt{
    display: inline-block;
    width: 160px;
    font-size: 14px;
    border: 1px solid #d2d2d2;
    padding: 8px;
    float: left;
}
.edit-data li .choose{
    display: inline-block;
    width: 120px;
    font-size: 14px;
    border: 1px solid #d2d2d2;
    padding: 6px;
    float: left;
    cursor: pointer;
}
.edit-data li textarea{
    border: 1px solid #d2d2d2;
    padding: 5px;
    width: 428px;
    max-height: 200px;
    display: inline-block;
    float: left;
}
.edit-data li span{
    display: inline-block;
    overflow: hidden;
    height: 33px;
    line-height: 33px;
    float: left;
    margin-top:2px;
}
.edit-data li span.email{
    font-size: 14px;
}
.edit-data li #datas select{
    display: inline-block;
    width: 110px;
    font-size: 14px;
    border: 1px solid #d2d2d2;
    padding:5px;
}
.edit-data li .btn-state{
    margin-top: 4px;
}
.edit-data li .btn-address {
    margin-left: 120px;
}
.edit-data li b{
    margin: 0 10px;
    font-size: 14px;
}
.edit-data li #datas s{
    margin: 0 10px;
    font-size: 14px;
}
.edit-data li .upload-photo{
    border: 1px solid #d2d2d2;
    width:300px ;
    height: 300px;
    margin-left: 120px;
    text-align: center;
}
.edit-data li .upload-photo img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.file-img{
    width: 159px;
    height: 41px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    background: url("../images/icon.png") no-repeat 0 -318px;
}
.file-img input{
    width: 159px;
    height: 41px;
    display: block;
    background: none;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    filter:alpha(opacity=0);
    top: 0;
    left: 0;
}
.editAddress{
    overflow: hidden;
    margin-top: 20px;
}
.editAddress .edit-data{
    position: relative;
    border: 1px solid #D2D2D2;
    display: none;
}
.editAddress .icon-upward{
    position: absolute;
    left: 40px;
}
.editAddress li h4{
    font-weight: bold;
    color: #333333;
    font-size: 14px;
}

/*晒单分享*/
.share-list{
    overflow: hidden;
    margin-right: -10px;
}
.share-list li{
    float: left;
    margin:0 10px 10px 0;
    overflow: hidden;
}
.product-item{
    width: 233px;
    overflow: hidden;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background: #FFFFFF;
}
.product-item .item-head{
    overflow: hidden;
    padding: 0 10px;
    margin-bottom: 10px;
}
.product-item .item-footer{
    padding:10px 10px 0;
    overflow: hidden;
    background: #F1F1F1;
}
.share-list .content-md{
    border: 1px dashed #4c4c4c;
}
/*分享详细内容*/
.title-bar{
    text-align: center;
    overflow: hidden;
    padding: 10px 0;
}
.title-bar h2{
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}
.title-bar .datetime{
    text-align: center;
}
.pane-hd{
    overflow: hidden;
}
.pane-hd .img-box{
    margin-right: 10px;
    margin-bottom: 0;
}
.pane-hd li{
    width: 317px;
    float: left;
    height: 75px;
    border: 1px solid #d2d2d2;
    border-right: none;
    margin-left: -1px;
    padding: 20px 20px;
}
.pane-bd{
    overflow: hidden;
    padding: 10px;
    min-height: 500px;
    color: #666;
}
.pane-bd p{
    text-indent: 2em;
    font-size: 14px;
    margin-bottom: 10px;
}
.pane-bd img{
    max-width: 685px;
    height: auto;
    vertical-align: middle;
}
.before{
    overflow: hidden;
}
.before li,.news li{
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #d2d2d2;
}
.before li .head-img{
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-right: 10px;
}
.news{
    overflow: hidden;
    margin-bottom: -11px;
}
 .images-list dd{
    float: left;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-right: 5px;
    overflow: hidden;
    text-align: center;
}
 .images-list dd img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
/*评论*/
.comment-panel{
    overflow: hidden;
    padding: 20px;
}
.comment-footer{
    overflow: hidden;
    height: 34px;
    padding: 5px;
    line-height: 40px;
    background: #eee;
    border: 1px solid #d2d2d2;
    border-top: 0;
}

.comment-footer .btn{
    margin-left: 10px;
    line-height: 16px;
}
.comment-footer .expression{
   margin-left: 15px;
}
.comment-count{
    color: #666;
}
.comment-count b{
    color: #D9534F;
    margin: 0 5px;
}
.comment-list{
    overflow: hidden;
    margin-top: 15px;
    overflow: hidden;
}
.comment-list dt{
    height:36px;
    border-bottom:1px solid #d2d2d2;
    margin-bottom: 15px;
}
.comment-list dt h4{
    height:35px;
    line-height: 33px;
    width: 70px;
    font-size: 14px;
    margin-bottom: -2px;
    font-weight: bold;
    border-bottom: 3px solid #D9534F;
}
.comment-list dd{
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom:1px dashed #d2d2d2;
    padding-bottom: 10px;
}
.comment-list .info-side{
    width: 90%;
}
.select .select-title{
    color: #848484;
}
.content-inner .lead{
    color: #666;
}
.record-box .remind{
    color: #848484;
}
.select-box .time-choose s{
    color: #848484;
}
.comment-list .info-side span a{
    color: #2af;
}
.record-box .record table thead{
    color: #757575;
}
.record-box .record table tbody{
    color: #848484;
}
.comment-box {
    width: 100%;
    overflow: hidden;
}
.comment-box textarea{
    display: block;
    border: 1px solid #d2d2d2;
    width: 673px;
}
.comment-text{
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    color: #848484;
}
/*帮助中心*/
.help-side{
    width: 180px;
    overflow: hidden;
    background: white;
    border: 1px solid #d2d2d2;
}
.help-side h2{
    border-bottom: 1px solid #d2d2d2;
    text-align: center;
    background: #af2812;
    color: #FFFFFF;
}
.help-center{
    overflow: hidden;
    text-indent: 10px;
}
.help-center dt{
    text-align: center;
    background: #f1f1f1;
    height: 33px;
    color: #af2812;
    line-height: 33px;
    font-weight: 700;
}
.help-center dd{
    text-align: right;
    text-indent: 20px;
    height: 33px;
    line-height: 33px;
    cursor: pointer;
}
.help-center dd a{
    display: block;
    padding-right: 60px;
}
.help-center dd:hover{
    background: #af2812;
}
.help-center dd:hover a{
    color: #FFFFFF;
}
.help-center dd.active{
    background: #af2812;
}
.help-center dd.active a{
    color: #ffffff;
}
.help-main{
    width: 745px;
    float: right;
    overflow: hidden;
    border: 1px solid #d2d2d2;
    padding:0 20px 15px;
    background: #FFFFFF;
}
.help-main h2{
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px  solid #D2D2D2;
    margin-bottom: 20px;
}
.help-content{
    overflow: hidden;
    margin-bottom: 20px;
}
.help-content  p{
    text-indent: 2em;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 5px;
    color:#666;
}
/*历史记录*/
.history .title{
    padding: 6px;
    font-size: 16px;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 10px;
}
.history-content{
    padding:0 10px 10px;
    background: #fff;
    overflow: hidden;
}
.history-content .search{
    height: 36px;
    margin-bottom: 10px;
}
.error-box{
    overflow: hidden;
    width: 510px;
    height: 400px;
    margin: 100px auto 0;
}
.error-box p a{
    color: #4CAFFF;
    font-size: 13px;
}
.buyListdiv{
    width: 230px;
    height:380px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
}
.noData{
    width: 40%;
    height: 22px;
    line-height: 22px;
    margin: 30px auto 0;
}
.noData{
    width: 40%;
    height: 22px;
    text-align: center;
    line-height: 22px;
    margin: 30px auto 0;
}
.selectWarp{
    width: 100%;
    background: #eee;
    height: 33px;
    overflow: hidden;
    padding: 6px;
    margin-bottom: 20px;
}
/*修改头像*/
.portWarp{
    width: 660px;
    margin: 0 auto;
    overflow: hidden;
}
.savePre{
    width: 260px;
    margin-left: 23px;
    margin-top: 10px;
    text-align: center;
}
/*lol专题*/
.lol-hd{
    width: 100%;
    height: 488px;
    overflow: hidden;
    background: url("../img/lol-ban-bg.jpg") no-repeat center center;
}
.lol-nav{
    width: 980px;
    height: 75px;
    margin: 0 auto;
}
.lol-nav ul{
    width: 380px;
    height: 75px;
}
.lol-nav ul li{
   float: left;
}
.lol-nav ul li a{
    display: block;
    width: 170px;
    height: 75px;
}
.lol-nav .one{
    float: left;
}
.lol-nav .two{
    float: right;
}
.lol-nav ul li a.hero{
    background: url("../img/lol-nav01.png") no-repeat center center;
}
.lol-nav ul li a.skin{
    background: url("../img/lol-nav02.png") no-repeat center center;
}
.lol-nav ul li a.peri{
    background: url("../img/lol-nav03.png") no-repeat center center;
}
.lol-nav ul li a.buy{
    background: url("../img/lol-nav04.png") no-repeat center center;
}
.lol-bd{
    width: 100%;
    height: 2710px;
    background:url("../img/lol_bd-bg.jpg") no-repeat center 0;
}
.column-hero{
    margin: 0 auto;
    width: 1016px;
    overflow: hidden;
}
.column-hero dl{
    overflow: hidden;
    margin-top: 20px;
}
.column-hero dl dt{
    float: left;
    width: 1016px;
    height: 135px;
    background: url("../img/lol-tit01.png") no-repeat center center;
}
.column-hero dl dd{
    float: left;
    width: 488px;
    overflow: hidden;
    margin: 0 10px 20px ;
    background: #EEEEEE;
}
.column-hero dl dd .imgBox{
    width: 100%;
    height: 250px;
}
.column-hero dl dd .fd-col{
    padding: 8px 16px;
    overflow: hidden;
    height:50px;
    background: #ffffff;
}
.column-hero dl dd .tit{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    max-width: 325px;
    float: left;
}
.column-hero dl dd .tit span{
    margin-left: 10px;
    color: #af2812;
}
.column-hero dl dd .tit span s{
    color: #af2812;
    font-size: 18px;
}
.lol-btn-sm{
    display: block;
    width: 128px;
    height: 50px;
    background: url("../img/lol-btn-sm.png") no-repeat;
}
.column-hero dl dd .fd-col .lol-btn-sm{
    float: right;
}
.column-skin{
    overflow: hidden;
    width: 1000px;
    margin: 0 auto 15px;
}
.column-skin dt{
    float: left;
    width: 1000px;
    height: 130px;
    background: url("../img/lol-tit02.png") no-repeat center center;
 }
.column-skin dd{
    float: left;
    width: 296px;
    margin-right: 55px;
    background: #ffffff;
}
.column-skin dd.last{
    margin-right: 0px;
}
.column-skin dd .imgBox{
    width: 296px;
    height: 296px;
    overflow: hidden;
}
.column-skin dd .tit{
    height: 40px;
    line-height: 40px;
    text-align:center;
    font-size: 14px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
.column-skin dd .fd-col{
    height: 60px;
    padding: 5px 20px;
}
.column-skin dd .fd-col .money{
    display: block;
    float: left;
    margin-top: 8px;
    font-size: 14px;
    color: #af2812;
}
.column-skin dd .fd-col .money s{
    font-size: 20px;
}
.column-skin dd .fd-col .lol-btn-sm{
    float: right;
}
.column-peri{
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}
.column-peri dl{
   overflow: hidden;
}
.column-peri dl dt{
    float: left;
    width: 1000px;
    height: 135px;
    background: url("../img/lol-tit03.png") no-repeat center center;
}
.column-peri dl dd{
    float: left;
    width: 500px;
    height: 392px;
}
.column-peri dl dd.per_02{
    height: 447px;
    margin-top: -10px;
}
.column-peri dl dd.per_03{
    margin-top: -55px;
}
.column-peri dl dd.per_04{
    height: 447px;
    margin-top: -38px;
}
.guide-bd{
    width: 100%;
    height: auto;
    margin-top:-10px;
    /*background: url("../img/guidebg.png") repeat top center;*/
}
.guide-fd .column .title{
    padding:30px 0 15px 15px;
}
.guide-fd .column .title span{
    margin-top:10px;
    position: absolute;
    font-size:16px;
    margin-left:9px;
    color: #757575;
}
.guide-fd .column p img{
    padding:10px 10px 0px 60px;
}
.guide-fd .column p span{
    margin-top:16px;
    font-size:12px;
    color: #666;
    letter-spacing:1px;
    position: absolute;
}


.guide-banner{
    width: 980px;
    height: 349px;
    margin: 0 auto -10px;
    background:url("../img/guide_bn-bg.png") no-repeat top center;
}
.guide-bd .column01{
    width: 980px;
    height: 386px;
    margin: 0 auto;

    background: url("../img/guide01.png") no-repeat;
}
.guide-bd .column02{
    width: 980px;
    height: 450px;
    margin: 0 auto;
    background: url("../img/guide02.png") no-repeat;
}
.guide-bd .column03{
    width: 980px;
    height: 703px;
    margin: 0 auto;
    position: relative;
    background: url("../img/guide03.png") no-repeat;
}
.guide-fd{
    width: 100%;
    overflow: hidden;
    background: #ffffff;
}
.guide-fd .column{
    width: 980px;
    height: 576px;
    margin: 0 auto;
}
.guide-btn-wide{
    overflow: hidden;
    margin-top: 25px;
    text-align: center;
}
.guide-btn{
    width: 200px;
    height: 50px;
    display: inline-block;
    background: url("../img/guide-btn.png") no-repeat;
    position: absolute;
    left: 40%;
    bottom: 60px;
 }
.game-hd{
    width: 100%;
    height: 755px;
    margin: 0 auto;
    overflow: hidden;
    background: url("../img/game-banner.jpg") no-repeat top center;
}
.game-bd{
    width: 100%;
    height: 908px;
    margin: 0 auto;
    overflow: hidden;
    background: url("../img/game-bg.png") no-repeat top center;
}
.game-column{
    width: 1004px;
    margin: 0 auto;
    overflow: hidden;
}
.game-column ul li{
    width: 490px;
    height: 348px;
    margin:0 5px 40px;
    float: left;
    background: url("../img/game-item-bg.png") no-repeat;
 }
.game-column ul li .game-count{
    width: 160px;
    overflow: hidden;
    margin-left: 190px;
    margin-top: 3px;
}
.game-column ul li .game-count dt{
   float: left;
   width: 35px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   font-size: 26px;
   font-weight: bold;
   color: #5a5a5a;
}
.game-column ul li .game-count dd{
    float: left;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    color: #5a5a5a;
}
.game-column ul li .imgBox{
    width: 230px;
    height: 230px;
    line-height: 230px;
    margin: 11px auto;
    text-align: center;
}
.game-column ul li .imgBox img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.game-column ul li .tit{
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
}
.game-column ul li .fd-col{
    height: 40px;
    overflow: hidden;
    padding:5px 30px;
}
.game-column ul li .money{
    height: 50px;
    line-height: 50px;
    display: block;
    width: 160px;
    overflow: hidden;
    float: left;
    text-decoration: line-through;
}
.game-column ul li .lol-btn-sm{
    float: right;
}

